[2020-08-27 17:52] wdduncan opened #25 "add slot relating biosample to study"
Currently, biosamples are related to biosamples via omics processing. I.e.:
[code]
It would be useful to have a slot that directly related biosamples to studies.

[2020-11-04 22:49] cmungall opened #27 "Add ability to link studies or make umbrella studies"
At JGI we have many cases where there are multiple proposals that span a long-term “study” (e.g., a large, multi-year SFA project that involves many hundreds of samples).

Also need to add mappings for concepts of studies across different systems

[2020-11-05 21:24] cmungall opened #26 "Align concept of study/project between NMDC and EMSL"
We should make sure the NMDC modeling of studies in the schema matches what is in EMSL

We have aligned this with GOLD but we should also make the mapping more explicit

For reference, this is the documentation page for the study class in our schema

https://microbiomedata.github.io/nmdc-metadata/docs/Study

Auto-generated UML diagram (not so useful IMO):

![image](https://user-images.githubuserco

[2020-12-08 01:35] cmungall opened #24 "biosample processing and omics processing should not be in a subclass relationship"
biosample processing is documented to be a process that takes samples as inputs and generates samples as outputs; ie sample->sample

[code]

we can map this to to [material processing in OBI](https://www.ebi.ac.uk/ols/ontologies/obi/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000094)

this can be used to represent graphs of arbitrary depths of processes on samples, from treatments thro

[2021-04-01 13:49] jeffbaumes opened #41 "Make explicit list of fields required for portal to function, make missing entries invalidate the data"
For example, principal_investigator_name was marked optional in the JSON schema but is required for the portal to function.

I believe this involves marking more things as required in the schema, hence I'm putting this issue on the metadata repo.

[2021-04-01 13:53] jeffbaumes opened #30 "Metatranscriptiome workflow activities were incorrectly labelled"
The activities were labelled "metagenome" and this was corrected manually in the portal, but I believe this should be fixed upstream in the metadata to get rid of this naming hack.

[2021-04-01 13:55] jeffbaumes opened #20 "Move file descriptors to the offical description field of data objects"
Currently the mapping is in the portal repo but should probably be associated with data objects upstream.

[2021-04-01 13:56] jeffbaumes opened #19 "Move PI profile images to official metadata schema"
This is currently in the portal repo. Should we consider something like gravatar? Unsure if ORCID provides public access to a profile image but that might be ideal.

[2021-04-02 01:28] cmungall opened #18 "annotate schema with edam"
low priority but easy to do

annotate elements of the schema using edam:

https://www.ebi.ac.uk/ols/ontologies/edam

[2021-04-03 15:08] wdduncan opened #1 "add license"
prefer CC-0

cc @cmungall @turbomam

[2021-04-03 15:09] wdduncan opened #2 "add badges"
cc @cmungall @turbomam

[2021-04-03 15:10] wdduncan opened #3 "update README on main page"
cc @jbeezley @turbomam

[2021-04-05 16:25] StantonMartin opened #4 "NMDC Schema update"
The sediment package parameter tot_carb is not in nmdc.schema.json

[2021-04-05 21:18] wdduncan commented on #4
@StantonMartin I add `tot_carb` as a slot to nmdc.biosample. I also regenerated the schema for you to use as testing. The schema is here: https://github.com/microbiomedata/nmdc-schema/blob/main/jsonschema/nmdc.schema.json

The repo is in a bit of flux right now, but the location of the nmdc schema is not going to change. You can use for it validating data.

cc @cmungall

[2021-04-05 21:19] #4 closed

[2021-04-07 20:21] wdduncan opened #5 "move issues from nmdc-metadata"
Use the github issue mover to move schema related issues from `nmdc-metadata` to `nmdc-schema`

[2021-04-07 20:22] wdduncan opened #6 "use ISO8601 for versioning"
When doing a release use ISO8601 date to tag the version.

[2021-04-07 20:23] wdduncan opened #7 "create change log with releases"
When making a new release update/create `chanes.md` to log changes.

[2021-04-07 20:32] wdduncan opened #8 "Do we keep GOLD add_date and mod_date?"
At present, I pull in the `add_date` and `mod_date` from the GOLD data tables. These tables pertain to when the record was added to the database, not when the sample was collected.

Example biosample `add_date: 28-JUL-14 12.00.00.000000000 AM`.

Do we keep these or remove these?

cc @cmungall @dwinston @jbeezley @jeffbaumes @turbomam @dehays

[2021-04-07 20:35] wdduncan opened #9 "Provide regular expression values for slots' `patterns`"
Need a list of regexs to check data.

[2021-04-07 20:40] wdduncan commented on #6
Also, standardize time to Zulu time.

[2021-04-08 13:53] jbeezley commented on #9
We could bikeshed about regexes all day.  I think these are generally good compromises in terms of complexity and restrictiveness.  There are other sorts of strings we could pattern match as well, such as dates, attributes with units, etc. but I think these things are better left to the parsers doing the normalization.

DOI:
[code]

URL:
[code]

The following come from https://microbiomedata.githu

[2021-04-08 13:58] jeffbaumes commented on #9
Thanks @jbeezley. Happy for it to be `KEGG.ORTHOLOGY`, as long as it's consistent.

[2021-04-08 15:36] dwinston opened #10 "conflicting gold paths in biosample and study"
Currently, both biosample and study include slots for the five GOLD path fields (ecosystem, ecosystem_category, ecosystem_type, ecosystem_subtype, specific_ecosystem):
- [in biosample](https://github.com/microbiomedata/nmdc-schema/blob/88ba05666f71739c7946818a92629977dd3c5682/src/schema/nmdc.yaml#L433)
- [in study](https://github.com/microbiomedata/nmdc-schema/blob/88ba05666f71739c7946818a92629977

[2021-04-08 16:12] dehays commented on #10
I think they should be removed from study.  @wdduncan - I am assuming that GOLD is associating them with both and that is how we have them on both NMDC study and biosample.  With our current (very small) set of studies I believe there is probably correspondence but as soon as a study has multiple sampling events / sites this may not be true.  I am not seeing the value of keeping them on study. (St

[2021-04-08 16:44] dehays commented on #10
@cmungall @wdduncan  If you agree - can we make this change to study slots

[2021-04-08 17:13] dwinston opened #11 "conflicting principal_investigator_name"
`principal_investigator_name` is a slot in both [Study](https://github.com/microbiomedata/nmdc-schema/blob/eb0da4efe9b9796b3677ac5e776e767d81ad66b0/src/schema/nmdc.yaml#L478) and [OmicsProcessing](https://github.com/microbiomedata/nmdc-schema/blob/eb0da4efe9b9796b3677ac5e776e767d81ad66b0/src/schema/nmdc.yaml#L519).

The issue is similar to #10: must an omics processing's PI be the same as for the

[2021-04-08 17:18] dehays commented on #8
1) I do not think they need to be displayed in the UI - particulary in their current context-less form.  2) The question of whether to include them at all depends on how much provenance we wish to retain, part of /nmdc-metadata#318 I think.

I could imagine that for each datum we'd want to have at least the source (GOLD in this case) and perhaps its add/update in that source.

[2021-04-08 17:30] dehays commented on #11
I noticed this yesterday - I think we should remove principle_investigator_name from omics_processing.  As you (@dwinston ) point out - there would be value if they could ever be different, but I do not believe that we need to handle that case now. In NMDC for now, studies have PIs and omics_processing are part of studies.  Supporting multiple level of PIs seems YAGNI

FYI - I think this might be

[2021-04-08 17:47] wdduncan commented on #8
@dehays great point! Yes, the `was generated by` slot can be used to point back to original record in the biosample table. This would be an ETL enhancement.

[2021-04-08 17:51] wdduncan commented on #10
I agree, but perhaps we should check with Reddy and see if the GOLD paths at the study level are important?

[2021-04-08 17:56] dehays commented on #9
wrt dates - JSON Schema has a date-time which validates to RFC 3339 - so I don't believe we need to apply our own regex to dates.  https://json-schema.org/draft/2020-12/json-schema-validation.html#rfc.section.7.3.1 (date-time has been in JSON Schema longer than this draft,  I think the date and time are added in JSON Schema 7)

[2021-04-08 18:18] dwinston opened #12 "attribute value should be abstract, doi should be something concrete"
Whereas [named thing](https://github.com/microbiomedata/nmdc-schema/blob/eb0da4efe9b9796b3677ac5e776e767d81ad66b0/src/schema/core.yaml#L76) is abstract, [attribute value](https://github.com/microbiomedata/nmdc-schema/blob/eb0da4efe9b9796b3677ac5e776e767d81ad66b0/src/schema/core.yaml#L85) is not abstract. However, [doi](https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/nmdc.yaml#L1

[2021-04-09 14:36] dwinston commented on #11
Great. See #16. Yeah, I think we could always add e.g. a multivalued `investigators` slot (non-exclusive to "principal" investigators) to classes like `omics processing`.

[2021-04-09 14:42] wdduncan commented on #11
Adding @tbkreddy to the conversation.

[2021-04-09 14:43] wdduncan commented on #8
Adding @tbkreddy to the conversation.

[2021-04-09 14:43] wdduncan commented on #10
Adding @tbkreddy to the conversation.

[2021-04-09 18:28] dehays opened #17 "add a schema version on releases of NMDC schema"
We discussed using semantic versioning or simply a time stamp on release versions.  Either could work, to avoid needing to define the semantics of semantic versioning (does minor or patch break ingest or only major?) we decided time stamp release versions was simplest.

With versions on the schema it becomes possible to ask what schema version the metadata store (MongoDB or Terminus) is at and wha

[2021-04-09 19:39] dwinston commented on #18
It took me a while to find what "EDAM" means.

from https://doi.org/10.1093/bioinformatics/btt113 and then https://doi.org/10.1093/nar/gkq297

[2021-04-09 19:54] dwinston commented on #17
@wdduncan I'm familiar with the following scheme (which I used for https://github.com/polyneme/nmdc-mongo-tools):

[code]

[code]

[code]

Here, `invoke publish` on the command line bumps the patch version via a git tag and pushes that to PyPI. The logic above can be refactored to use [calver](https://calver.org/) (e.g. YYYY.MM.DD).

[2021-04-09 19:55] wdduncan commented on #19
@dehays yes, that is what I was thinking.

[2021-04-09 20:34] dwinston commented on #19
So the plan is to
1. eliminate core/person_value class
2. give core/person class an orcid slot
3. give core/person class an image_url slot
4. remove nmdc/study class' principal_investigator_name slot
5. add nmdc/study class principal_investigator slot with range core/person

Is that right?

[2021-04-09 21:18] #1 closed

[2021-04-09 22:56] TBKReddy commented on #10
Ecosytem classification paths between Study and Biosample doesn't present any conflict as such.

No. Studies with a broad scope may have the least common denominator but individual Biosmaples will have more specific classification assigned to them.

No they don't. If there is a big study with samples from a variety of environments. The study classification may stop at a level to broadly represent

[2021-04-09 22:59] cmungall commented on #10
I can't speak to GOLD I see no problem with capturing environment at the level of study and sample, and with the values being consistent but different

 - There may be a study that looks at the affect of salinity of lakes on microbiome community, where individual samples vary with regards to broad class of lakes and water medium and even broader biome
 - There may be a study that looks at differen

[2021-04-12 18:50] jeffbaumes commented on #19
@wdduncan I added you as an assignee since I don't think @jbeezley can make the actual query changes himself. Please correct this or delegate if I'm off here.

[2021-04-13 02:09] wdduncan opened #23 "cannot import name 'Id' from 'nmdc_schema.basic_slots'"
@cmungall I've reordered the dependency tree to remove cycles. Slots that are used across multiple schemas are in the a schema named `basic_slots.yaml`.  This appears to be working fine in the sense `make install all` builds the targets w/o error.

However, there is a problem with the pypi package. When I try to import the nmdc python class from the package I receive the error `cannot import name

[2021-04-13 02:36] wdduncan commented on #23
The problem **might** that be that although the `id` slot is defined in `basic_slots.yaml`:
[code]
The `Id` slot is not in `basic_slots.py`. Rather, `slots.id` is:
[code]

[2021-04-13 02:41] cmungall commented on #23
let's just try building into a single python module, that should keep things simpler for now, we can investigate this more later

(using as ingle py file should be the default, i.e. don't specifiy `--no-mergeimports`)

[2021-04-13 19:25] wdduncan commented on #23
Using `--mergeimports` worked to create the `nmdc.py` file.

[2021-04-13 19:25] #23 closed

[2021-04-14 18:40] dehays opened #28 "increase specificity of has_input relationship on omics_processing"
The need here is driven from metabolomics and metaproteomics where @corilo would like to be able to specify the input as one of:

sample
blank
QC

[2021-04-14 20:01] lamccue commented on #26
@cmungall Mark B is still does not yet have permission to return to work (from Customs & Immigration). Hopeful that he can return next month, but in the meantime, Dave Millard is probably in the best position to speak to this.

[2021-04-14 20:23] wdduncan commented on #8
We can also add information to the model that this information should not be displayed.

[2021-04-14 20:31] wdduncan commented on #10
We have decided to keep them.

[2021-04-14 20:50] wdduncan commented on #26
Decision for now: leave the schema flexible. E.g., studies can be parts of studies, which can be parts of other studies, etc.

This will hopefully allow us to meet different organizational needs.

[2021-04-14 20:50] wdduncan commented on #27
see #26

[2021-04-14 20:56] wdduncan commented on #25
For now, let's use `part of`, but we need to add sanity checks to verify the data.

[2021-04-14 21:02] wdduncan commented on #11
On the call today, we decided to retain both.

[2021-04-16 16:40] wdduncan opened #29 "add validation tests for pull request merges"
When a PR is merged, I need to validate the schema using our example datasets.

Might also consider using unit tests.

[2021-04-16 20:08] wdduncan commented on #30
@scanon just to confirm, you need the class/type `MetatranscriptomeAnnotationActivity`. Right?

I the schema file it will be `metatranscriptome annotation activity`.

[2021-04-16 21:35] dehays commented on #30
We need to differentiate metagenome analysis from metagenome analysis in two places.

Currently there are nmdc:MetagenomeAnnotation and nmdc:MetagenomeAssembly

To the schema we need to add nmdc:MetatranscriptomeAnnotation and nmdc:MetatranscriptomeAssembly and @scanon would need to modify how the type is set in metadata to use these two new analysis types.

[2021-04-21 15:40] wdduncan opened #31 "sync nmdc.yaml with nmdc-metadata repo"
The `nmdc.yaml` in the nmdc-metadata repo changed. Need to sync schemas.

[2021-04-21 15:44] wdduncan commented on #31
See https://github.com/microbiomedata/nmdc-metadata/commit/6c4ed996d5507c60d74688679a3859c05b527dbc for changes made by @chienchi

[2021-04-21 15:48] wdduncan commented on #31
Note: These definitions have now been moved to [workflow_execution_activity.yaml](https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/workflow_execution_activity.yaml) in the `nmdc-schema` repo.

[2021-04-21 17:14] #31 closed

[2021-04-21 18:10] wdduncan opened #35 "Add slots to database class to capture versioning"
As part of the ETL, add versioning info to the database class. I have already created some stubs for this:
[code]

Do we need others? @dehays @cmungall @dwinston @jeffbaumes @jbeezley

[2021-04-22 13:53] wdduncan commented on #17
The nmdc-schema is now versioned using pypi.

[2021-04-22 13:53] #17 closed

[2021-04-22 20:42] wdduncan commented on #6
The steps for the version release process are:
1. Create a tag using format `YYYY.MM.DDrcN` (e.g, `2021.04.22rc1`). The reason for `.` instead fo `-` is that this the format required by PyPI. The `rcN` is added in case there are multiple "release candidates" generated on a given day.
2. The release is named by prepending "release-" to the tag (e.g. `release-2021.04.22rc1`).
3. Update the comments

[2021-04-22 20:42] #6 closed

[2021-04-22 21:59] wdduncan commented on #2
Address with PR https://github.com/microbiomedata/nmdc-schema/pull/39

[2021-04-22 21:59] #2 closed

[2021-04-27 19:13] wdduncan commented on #41
@jeffbaumes Many of these schema changes require data that I don't have access to.
@dehays can we discuss this at the Wed April 28 call?

[2021-04-27 20:32] ssarrafan commented on #25
I'm moving to the May sprint per Bill and adding Small label for effort.

[2021-04-27 20:37] ssarrafan commented on #20
Moving to May sprint per Bill.  More discussions required before estimating work.

[2021-04-27 23:20] dehays commented on #41
@wdduncan  Yes, we can discuss this tomorrow.  The fields I think you are probably referring to are the ones on study that are not available in GOLD.

@jeffbaumes There are a number of these that I don't believe can be made required in the schema.  DOE, PI web sites, objective.  If values for these are not available from NMDC sources (GOLD, NCBI, etc.) then requiring them in the schema does not ma

[2021-04-28 13:43] dwinston commented on #41
One possible course of action is an nmdc-portal LinkML file that imports [nmdc.yaml](https://github.com/microbiomedata/nmdc-schema/blob/73e7484fbeedfa581e07d7fa6b2cd742059eef72/src/schema/nmdc.yaml), i.e.
[code]
Then, the portal schema can use the `slot_usage` facility to make certain inherited slots required, add slots, etc.

This way, the nmdc-portal requirements can be verified via tests in the

[2021-04-28 17:29] jeffbaumes commented on #41
@dehays if we know what must remain optional (i.e. we can't expect to require it on ingest or submission) then we should make that explicit and adapt our portal DB and UI to accommodate so it is resilient to those fields being absent. Basically @jbeezley is reporting what is required to drive the portal we see today. If we don't require these things some aspects of the interface will suffer (i.e.

[2021-04-28 17:40] ssarrafan commented on #41
Adding notes exchanged via email here for reference:

Agree with your comments here David (and yours Kjiersten). I commented in parallel on GitHub, but the gist is that we need to resolve which fields we can and can't expect to require. Many "required" things for the portal could be made optional if needed.

https://github.com/microbiomedata/nmdc-schema/issues/41

On Wed, Apr 28, 2021 at 1:31 PM K

[2021-04-28 17:40] ssarrafan commented on #19
Adding comments from email exchange for reference:

Agree with your comments here David (and yours Kjiersten). I commented in parallel on GitHub, but the gist is that we need to resolve which fields we can and can't expect to require. Many "required" things for the portal could be made optional if needed.

https://github.com/microbiomedata/nmdc-schema/issues/41

On Wed, Apr 28, 2021 at 1:31 PM Kji

[2021-04-28 17:48] jbeezley commented on #41
Yes.  What @jeffbaumes said was my intent.

We need to ensure that the UI design takes into account information that may not be available.  Especially if the the common case is going to be that this information is missing, the current study page won't make much sense.  Where this information is missing on a study, it might be better to link to a page inviting PI's to submit the data to us directly

[2021-04-28 19:35] #30 closed

[2021-04-28 20:11] #25 closed

[2021-04-29 16:26] wdduncan commented on #19
Please move to May sprint.

[2021-04-30 21:19] wdduncan commented on #9
Update:
We are working on to implement this in LinkML. See tickets:
- https://github.com/linkml/linkml/issues/194
- https://github.com/linkml/linkml/issues/193

[2021-05-05 22:00] dwinston commented on #19
@jeffbaumes is this subsumed by / a component of #41?

[2021-05-05 22:04] emiley commented on #19
FYI - I think I’m possibly on this thread in error. Perhaps someone
inadvertently at mentioned me rather than the correct recipient.

On Wed, May 5, 2021 at 6:00 PM Donny Winston ***@***.***>
wrote:

[2021-05-05 22:51] dwinston commented on #19
sorry @emiley, thank you for alerting us! We meant @emileyfadrosh. You can unsubscribe yourself.

https://user-images.githubusercontent.com/1497854/117219195-c2ed4880-add2-11eb-8f39-019ffc9e3fc6.mp4

[2021-05-11 13:58] jeffbaumes commented on #19
@dwinston This issue has a slight additional complication attached (we need to host the profile images elsewhere and link to them by URL in the schema) so I feel it could be deserving of its own issue. But I'm also ok rolling it into #41.

[2021-05-13 23:20] wdduncan opened #44 "add started_at_time, ended_at_time slot to workflow execution activity"
@cmungall I just noticed that the `workflow execution activity` class does not have `started at time`, `ended at time` slots:
[code]
However, the data coming from Aim 2 does have the these slots. E.g.:
[code]

I think we should add these slots to the schema.

Thoughts?

[2021-05-13 23:22] wdduncan commented on #44
related to issue https://github.com/microbiomedata/nmdc-runtime/issues/5

[2021-05-14 01:34] cmungall commented on #44
it's inherited from activity

[2021-05-14 02:34] wdduncan commented on #44
@cmungall Yes. You are right :)

However, the `started at time` and  `ended at time` slots are not required. If I remove the `started at time` and  `ended at time` properties, it validates against the jsonschema. E.g., this is valid:
[code]

[2021-05-17 19:06] scanon commented on #20
I like @cmungall 's proposal.  We should probably have the workflow owners help populate this.

[2021-05-17 19:13] scanon commented on #20
{
    "description": "Functional annotation GFF file for gold:Gp0324006",
    "url": "https://data.microbiomedata.org/data/503568_190750/annotation/503568_190750_functional_annotation.gff",
    "md5_checksum": "a360c42d1403084110719be0d6d8d47a",
    "file_size_bytes": 51348736,
    "id": "nmdc:a360c42d1403084110719be0d6d8d47a",
    "name": "gold:Gp0324006_Functional annotation GFF file",
    "XXXX

[2021-05-18 23:00] ssarrafan commented on #41
Based on the meeting today with @dehays, @emileyfadrosh, @dwinston, @wdduncan, and @jbeezley, @wdduncan will add the missing fields into the schema for this sprint.

[2021-05-18 23:10] ssarrafan commented on #19
Based on the meeting today with @dehays, @emileyfadrosh, @dwinston, @wdduncan, and @jbeezley, @wdduncan will add image URL on the person object to the schema.  The images can be stored on an object store at NERSC.

[2021-05-19 20:28] wdduncan opened #45 "Make MIXS triad properties required"
Set `required: true` for the MIXS triad properties:
- env_broad_scale
- env_local_scale
- env_medium

cc @cmungall @dehays

[2021-05-19 20:30] wdduncan opened #46 "create command-line utility to retrieve jsonschema"
Provide a command-line utility to retrieve the jsonschema from the `nmdc-schema` pypi package.

cc @cmungall @dehays

[2021-05-19 21:00] wdduncan opened #47 "extend NMDC schema to support assigning credit to researchers for studies/datasets"
Create classes/slots so that researchers can be credited for datasets used in studies.

cc @cmungall @dehays @elishawc

[2021-05-19 21:04] wdduncan commented on #47
Here is some work to look at by Anne Thessen: https://github.com/diatomsRcool/collections-attribution-model/blob/master/attributionmodel.yaml

[2021-05-20 01:03] cmungall commented on #47
See also how Sesar does it

[code]

[code]

[2021-05-20 01:33] wdduncan commented on #47
Just playing around ... you can output in yaml too.

[code]
[code]

[2021-05-20 12:22] dwinston commented on #47
Two notes on using SESAR's approach:
1) The example above doesn't follow the doubled-property semantics of [schema.org/Role](http://blog.schema.org/2014/06/introducing-role.html). That is, the use of "author" should be replaced with "contributor" (or vice versa). This is if we want e.g. Google to properly index things.
2) I liked @elishawc's suggestion during her tech sync presentation to use [CRe

[2021-05-20 12:55] diatomsRcool commented on #47
I agree with using CRediT - it is already pulled into CRO. To what activities are you wanting to give credit?

[2021-05-20 13:34] elishawc commented on #47
Since CRediT is being adopted by the publishing community, it should allow
us to have consistent metadata for API push/pull. e.g., I would like CRediT
to be associated with a person listed on a study page with an ORCID, so we
could push the study page to their ORCID account w/ the appropriate CRediT
tag.

On Thu, May 20, 2021 at 5:56 AM diatomsRcool ***@***.***>
wrote:

--
Elisha M Wood-Charlson,

[2021-05-21 01:01] cmungall opened #48 "move across identifiers.md doc"
this and similar docs belongs with the schema I think

[2021-05-21 01:02] cmungall commented on #48
oh, I see it's there https://microbiomedata.github.io/nmdc-schema/identifiers/

[2021-05-21 01:02] #48 closed

[2021-05-25 21:23] ssarrafan commented on #20
@wdduncan please update microbiomedata/nmdc-server#357 when this is completed so we know we can move forward with the next step of this fix.  Thank you!

[2021-05-26 20:47] cmungall commented on #20
I propose we change

[code]

changing "controlled term value" to an enum we define

(note: the two are actually similar but we have more fine-grained control with an enum, and we can still map our enum permissible values to terminologies like EDAM, if we like)

[2021-05-27 17:40] ssarrafan commented on #41
@wdduncan I'll move this to in progress per the last comment but let me know if you won't be able to add the missing fields this week or maybe it's already done?

[2021-05-27 19:40] SamuelPurvine commented on #20
Stab at proteomics file descriptors:
MSGFjobs_MASIC_resultant.tsv: Peptide-to-Spectrum Matches and LC-MS abundances
Peptide_Report.tsv: List of peptides and associated abundances filtered by FDR
Protein_Report.tsv: List of proteins derived from Peptide_Report with summed abundances
QC_Metrics.tsv: Report of Peptide-to-Spectrum matching tool performance statistics

[2021-05-27 23:00] ssarrafan commented on #41
@dehays and @wdduncan have discussed this and @dehays will close this issue and open several new related issues for June.

[2021-05-28 14:53] dehays opened #50 "existing NMDC entities attributes to make required"
Part of the decomposition of #41

Existing attributes to be indicated in the schema as required

omics_processing

- [ ] has_input  - note that this one should not be permitted to have an empty array value
- [ ] has_output - ditto
- [ ] part_of

data_object

- [ ]  name
- [ ]  description - this is an addition from #20

workflow execution activity

- [ ] started_at_time
- [ ] ended_at_time
- [ ] e

[2021-05-28 15:17] dehays opened #51 "additional optional attributes to be added to study"
part of decomposition of #41

To be added to study entity as optional attributes.  These are not currently available from GOLD studies and therefore cannot presently be populated from the GOLD -> NMDC ETL

- [x] study DOI
- [x] study websites
- [x] publication DOIs
- [x] proposal name
- [x] scientific objective

[2021-05-28 15:21] dehays commented on #41
Closing this issue. Replaced by #50 and #51

[2021-05-28 15:21] #41 closed

[2021-05-28 21:59] #45 closed

[2021-05-29 00:02] #44 closed

[2021-05-29 01:55] wdduncan commented on #51
@dehays every `study` object has a `name` attribute. Is `proposal name` different than the study's name?

[2021-05-29 02:03] wdduncan commented on #51
@dehays `study` already has a `doi` attribute:
[code]
But, the range of `doi` is an attribute value; e.g.:
[code]
Do we need `doi` to be a list (i.e., multi-valued), or will a study only have one `doi`?

[2021-05-29 02:15] dehays commented on #51
@wdduncan  On GOLD study name vs proposal name - I want to touch base with Emiley and Jeff with what we do here.  What I see is the the UI is using the proposal name [Stegen Study - notice the name displayed](https://data.microbiomedata.org/details/study/gold:Gs0114663) which is not something you are getting from GOLD (The name in the study entity is set to the GOLD study name, for example: "Groun

[2021-05-29 02:18] wdduncan commented on #51
Thanks @dehays
I'm a bit partial to naming the attribute `display name`. It seems to fit the purpose you describe.

What do you think @cmungall ?

[2021-06-01 18:03] dwinston opened #54 "make NMDC data object a ga4gh DRS object?"
The ga4gh data repository service (DRS) API spec defines an object type, [`DrsObject`](https://ga4gh.github.io/data-repository-service-schemas/preview/release/drs-1.1.0/docs/#_drsobject), that has properties useful for workflow automation, for example url+headers for authorized access, or tokens for deferring url generation. I have sketched out a [pydantic model](https://github.com/microbiomedata/

[2021-06-01 18:09] dwinston commented on #54
DRS does not include a compression-format field (e.g. "zip", "bz2") like NMDC does. I suggest we wither underscore-prefix such fields (e.g. `_compresion_format`) so as to clarify that they are not part of the DRS spec, or else document that these fields may clash with future versions (if any) of DRS.

[2021-06-01 20:17] #50 closed

[2021-06-02 17:01] cmungall commented on #51
GOLD:

https://gold.jgi.doe.gov/study?id=Gs0114663

 * study name: E.g. _Groundwater microbial communities from the Columbia River, Washington, USA_
 * other names: E.g. _Microbial communities from the groundwater-surface water interaction zone near Columbia River, Washington, USA and their role in carbon and contaminant biogeochemistry_
 * description: E.g. _A metagenomic study to couple microbia

[2021-06-02 23:27] ssarrafan commented on #20
@wdduncan let me know if this should be assigned to someone else. I've removed the other assignees per discussion with Kjiersten.

[2021-06-02 23:28] ssarrafan commented on #19
Removing Jon from assignee.

[2021-06-04 16:08] turbomam commented on #3
Borrow from https://github.com/microbiomedata/nmdc-metadata/blob/master/README.md !

Not ETL code

[2021-06-04 16:59] jbeezley commented on #20
This issue will likely end up as a blocker for https://github.com/microbiomedata/nmdc-server/issues/354 because we need to know the file types inside the database to perform the queries.  I can do most of the engineering using the mapping from the [client side code](https://github.com/microbiomedata/nmdc-server/blob/master/web/src/v2/components/DataObjectTable.vue?rgh-link-date=2021-04-06T13%3A47%

[2021-06-04 18:36] wdduncan commented on #54
I think we make use of some of the properties w/o necessarily making `DrsObject` per se.

Some of the properties we already have; e.g.:
- drs:aliases -> nmdc:alternative identifier
- drs:created_time -> nmdc:add_date
- drs:updated_time -> nmdc:mod_date
- drs:name -> nmdc:name
- drs:description -> nmdc:description
- drs:id -> nmdc:id
- drs:size -> nmdc:file_size_bytes

Other DRS properties need to

[2021-06-04 19:03] wdduncan commented on #51
I agree with @cmungall  that `title` addresses the need to distinguish between what we get out of GOLD and what the `study` is called from the perspective of a funding agency.

A related issue to this is the long names we get out of gold for `biosamples`. I'm not so sure that `title` is the appropriate slot for shortening the GOLD biosample names, although we can use it for such a purpose. It migh

[2021-06-07 20:25] wdduncan opened #56 "generate JSONLD context"
Generate JSONLD context as one of the output artifacts.

cc @cmungall @turbomam

[2021-06-07 20:28] wdduncan opened #57 "generate OWL output"
As part of makefile, generate OWL **artefact**.

cc @cmungall @turbomam

[2021-06-08 14:58] turbomam commented on #3
Updated branch name from `mam-readme` to `issue-3-update-README`

Anybody who has a `mam-readme` branch checked out needs to do

[code]

[2021-06-08 18:56] wdduncan commented on #3
Thanks Mark.
BTW, the branch name only needs to match the issue number, e.g. `issue-3`. You don't need to have the `update-README`, although it is nice to have that too :)

[2021-06-08 20:24] wdduncan commented on #51
@dehays I've added the following slots to `nmdc:study`:

- title
- alternative titles
- alternative descriptions
- alternative names

I think/hope this should cover Kitwares needs for displaying the name of a study.

[2021-06-09 21:33] wdduncan commented on #51
Update after metadata call:
There is a need to associate studies with websites. Should I add a `websites` slot, or make use of the existing `url` slot in `core.yaml`:
[code]

[2021-06-09 21:49] cmungall opened #59 "Register EMSL project prefix on identifiers.org"
I recommend registering `EMSL.project` as a prefix just in case the same 5 digit number is reused for other entities, e.g. metabolites.

It looks like the redirect should be to:

https://search.emsl.pnnl.gov/?project[0]=projects_$LocalID

E.g.

https://search.emsl.pnnl.gov/?project[0]=projects_51283

is this correct @SamuelPurvine

See https://microbiomedata.github.io/nmdc-schema/identifiers/

Not

[2021-06-10 16:23] wdduncan opened #60 "add abstract slot for studies"
Add slot to hold abstract section of studies.

[2021-06-10 16:44] #60 closed

[2021-06-10 21:37] dehays commented on #20
@wdduncan Can the change that Chris describes above be included among those schema changes you will be completing for this schema version?  I can work with Shane, Sam and others to get values for those descriptions.

[2021-06-10 21:56] wdduncan commented on #20
I can make the changes. Can you get me a list of file types for to include in the enum?

[2021-06-11 17:17] turbomam opened #62 "Share examples of repaired NCBI/INSDC Biosample metadata"
Efforts for mapping categorical data from the NCBI/INSDC Biosample metadata to OBO foundry terms has been taking place in several branches or forks of [INCATools/biosample-analysis](https://github.com/turbomam/scoped-mapping) and [turbomam/scoped-mapping](https://github.com/turbomam/scoped-mapping) _at least_. That's partially because these techniques will be applied to other projects besides NMDC

[2021-06-11 17:46] wdduncan commented on #51
`publication DOIs` is simply names `publications`.

[2021-06-11 17:47] #51 closed

[2021-06-11 23:36] wdduncan commented on #20
In the schema, I've created the follow list of file enums.
@SamuelPurvine @jbeezley @jbeezley @jeffbaumes @cmungall @turbomam Please let me know what I need to edit.
[code]

[2021-06-13 22:51] dehays commented on #20
@jeffbaumes @jbeezley Can you remind me why the client is using a mapping from the data object name attribute (You must be doing a regex as part of that mapping considering name values like ""gold:Gp0324006_Functional annotation GFF file") to a set of descriptions instead of using the description attribute of each data object?

Bill has added the file type enum above to the schema, but there isn't

[2021-06-14 16:13] jbeezley commented on #20
I'm not certain, but I suspect it's because the descriptions that exist in the database are different than what we want displayed.  E.g. in the database we have `Filtered read data for gold:Gp0115663`, but the client side code replaces it with `Reads QC result fastq (clean data)`.

[2021-06-14 16:58] jeffbaumes commented on #20
The main reason IMO is that file type and file description should be separate things in the UI, but right now they are conflated as the same thing. Should we make two distinct columns in the table for these?

[2021-06-14 18:26] wdduncan commented on #20
Just for clarity: the slot/property that will hold the enum is names `data object type`.

[2021-06-14 21:20] wdduncan opened #67 "add mixs:samp_mat_process slot for biosamples"
Add mixs:samp_mat_process slot for biosamples. This will not be handled in the GOLD ETL, though. @dehays and @pvangay will add values during post-etl processing.

[2021-06-15 01:43] wdduncan commented on #67
`samp_mat_process` has been added in PR https://github.com/microbiomedata/nmdc-schema/pull/66

Note:
`samp_mat_process` has a range of `controlled term value`. So, values for this slot/property are to entered using the `has_raw_value` property like so:
[code]
or by using identifier for an ontology class like so:
[code]

@cmungall Did you intend for the `term` slot to take a curie or uri for a valu

[2021-06-15 18:32] turbomam commented on #3
I pushed a clean but minimal README.

- It doesn't include any editing or building instructions.
- I took out any mentions of artifact formats if I don't think we're routinely making them, like OWL, GraphQL, etc.

Did I go overboard in cleaning it up?

[2021-06-16 17:37] #67 closed

[2021-06-17 04:57] emileyfadrosh commented on #20
Reopening. There are two separate issues that need to be resolved:

1. Updates are needed for all workflows to include the appropriate files types and descriptions in the JSONs directly. This would hopefully address the issue for all newly processed data and would enable correct, unambiguous display in the portal. (Request to address this next sprint, please.)

2. For existing data in the portal,

[2021-06-17 13:52] ssarrafan opened #69 "Add more integrity checks on fields in JSON schema 2"
There are different levels of checks, this issue is to cover the first 2:

1. Is the ID prefix valid? (e.g. KEGG.KO vs KEGG.ORTHOLOG)
2 Is the local part of the ID syntactically conformant? (e.g. KEGG:K\d+)

The first is very easy to do with using the existing id_prefixes annotated in the schema

[2021-06-17 13:55] turbomam commented on #69
Was microbiomedata/nmdc-metadata issue 360

I will be adding local part patterns to the yaml files in this repo.

@ssarrafan @wdduncan @cmungall

[2021-06-17 19:13] turbomam commented on #69
See notes from @cmungall at PR https://github.com/microbiomedata/nmdc-schema/pull/70, especially

[2021-06-17 21:07] wdduncan commented on #19
I've added a `profile image url` slot (see PR https://github.com/microbiomedata/nmdc-schema/pull/68).

This is to be use with `study` objects like so:

[code]
**NB**: the property `principal_investigator_name` is **now** named `principal_investigator`.

Closing this ticket. But it can be reopened if needed.

[2021-06-17 21:07] #19 closed

[2021-06-21 18:49] dehays opened #72 "addition to file_type_enum for NOM and metaB file types"
modify the file_type_enum definition in nmdc.yml (https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/nmdc.yaml - line 376).

Add 2 enum values with descriptions:

[code]

[code]

[2021-06-21 20:06] turbomam opened #73 "image (from slides?) for readme"
long term, should come from the LinkML

[2021-06-21 20:07] turbomam commented on #73
were delivered to DOE. @turbomam look over them anyway.

In NMDC folder

[2021-06-21 20:29] wdduncan opened #74 "run tests for invalid data"
For invalid datasets in `test/data`, add target to `makefile` to check that invalid data is confirmed to be invalid.

As a convention, prefix that name of the invalid dataset with `invalid_`; e.g., `invalid_study_test.json`.

cc @turbomam

[2021-06-21 20:41] wdduncan commented on #74
See this stackoverflow article for pointers:

https://stackoverflow.com/questions/2188376/how-to-have-gnu-make-explicitly-test-for-failure

[2021-06-22 12:17] turbomam commented on #74
in addition to prefixing the negative tests with "invalid_", can we also put them in an `invalid` subdirectory?

[2021-06-22 15:14] wdduncan commented on #74
I'd prefer not.

[2021-06-22 16:16] wdduncan commented on #74
Yes. That was going to be my approach.

[2021-06-22 23:42] dehays opened #75 "add alternate_identifiers slot to biosample"
We will need this sooner than expected because GOLD is creating new biosample records that merge RNA and DNA samples when a common source is known.  We will need to connect these new GOLD biosample records to EMSL processes by IGSN - so we need the new GOLD biosamples to retain their IGSNs in NMDC biosample records.

Expect that the range is a list of strings

[2021-06-23 15:59] #75 closed

[2021-06-23 18:13] turbomam commented on #69
@wdduncan and @cmungall : I can't find patterns for  COG or RetroRules at the BioRgistry, or sample usages in the MongoDB.

[2021-06-23 18:21] turbomam opened #78 "jsonschema validation working for new file locally but not in GH actions"
locally:

[code]

GitHub Actions:

[code]

[2021-06-23 18:45] turbomam commented on #78
need to update the list in the makefile whenever files are added, or their names are changed

[2021-06-23 18:45] #78 closed

[2021-06-24 23:41] wdduncan opened #80 "add depth2 slots"
for biosamples (and related package tables) `depth2` and `subsurface_depth2` slots are needed for when the depth is within a range.

[2021-06-28 12:25] turbomam commented on #72
I added the two blocks into nmdc.yaml as is. Did not pass tests.

[code]

[2021-06-28 12:33] turbomam commented on #72
@dehays fixed in issue #83 / branch https://github.com/microbiomedata/nmdc-schema/tree/closes-%2372

[code]

**Where would the predicate/property `data object type` appear now? JSON data, or in the schema?**

[2021-06-28 12:36] turbomam opened #84 "Add links for NMDC data objects in README"
From @cmungall

[2021-06-28 12:46] dehays commented on #72
@turbomam data_object_type will appear on instances of data object where data_object_type has the file_type_enum as its range.  Not sure why Bill called the property data_object_type rather than file_type following the enum naming.

[2021-06-30 20:49] ssarrafan commented on #46
Adding backlog label. Needs to be reprioritized.

[2021-06-30 21:57] dwinston commented on #20
data_object_type values are now in mongo data_object_set documents. The values are id values from the file_type_enum mongo collection , and documents there have name and description fields for display as “Data Object Type” and “Data Object Description”, respectively, in the portal.

Because the file_type_enum collection is currently small (30 documents currently, i.e. 30 data object types), it see

[2021-06-30 21:57] #20 closed

[2021-07-01 12:56] dwinston opened #87 "clarify PyPI package release procedure"
I ran `make build-package` yesterday, noticed the version tag was weird (it had "2021.6.31" in it and "dev" and a long hash), so I set the version manually in setup.py to "2021.6.30", and after building ran `make deploy-pypi`. I notice that the deployed package doesn't facilitate

[code]

like before, so the package data wasn't included properly. The artifact is still present, which I can access v

[2021-07-01 19:40] wdduncan commented on #87
It looks like you made some changes but didn't make a new release. Not sure I follow what is going on.

[2021-07-01 20:01] wdduncan commented on #72
It was called `data object type` b/c that was the original name that Chris gave it.

[2021-07-07 20:34] cmungall commented on #80
I have concerns about this, I would like to unmerge the PR

[2021-07-07 20:37] cmungall commented on #80
We should not be adding baroque fields like `depth2` to the schema

 - we should adhere to MIxS
 - if we need to extend or revise
     - we should open an issue on the GSC tracker
     - we can extend our schema in advance of this being added to MIxS
     - all new fields added MUST
         - have a meaningful name (not `depth2`)
         - be documented
         - be linked back to the MIxS issu

[2021-07-07 20:48] wdduncan commented on #80
This field is a temporary fix for capturing depth ranges. There are a number of fields that need such ranges (e.g., temperature, size). A ticket has been filed with MIXS: https://github.com/GenomicsStandardsConsortium/mixs/issues/166

[2021-07-07 23:18] cmungall opened #90 "Align schema and qiime schema"
the goal is to provide a lightweight alignment between qiime and the NMDC schema. This could be encoded either in mappings in the schema, or simply in comments

Some initial rough notes:

https://qiita.ucsd.edu/static/doc/html/qiita-philosophy/index.html

![img](https://qiita.ucsd.edu/static/doc/html/_images/figure1.png)

https://qiita.ucsd.edu/static/doc/html/gettingstartedguide/index.html

_As d

[2021-07-09 05:04] emileyfadrosh commented on #8
Reviving this issue, and suggest to add information that this should not be displayed in the data portal. @wdduncan, sounds like this is an easy fix? Thanks.

[2021-07-09 11:36] turbomam commented on #8
@wdduncan were you hoping I would help with this in some way? I don't know where the GOLD input lives and am not sure which repo contains the relevant code.

[2021-07-09 11:57] dwinston commented on #8
FYI @turbomam the relevant code for gold translation is in the [nmdc-runtime/metadata-translation/](https://github.com/microbiomedata/nmdc-runtime/tree/39bab4c31624cc2af855fb511e480524166ac5bf/metadata-translation)  directory of the [microbiomedata/nmdc-runtime](https://github.com/microbiomedata/nmdc-runtime) repo.

[2021-07-09 12:06] dwinston commented on #8
But I think @wdduncan indicated that some annotation corresponding to "applications generally should not display this field" may be added to the LinkML model in this repo, unless I'm misunderstanding "add information to the model". So the metadata translation code needn't be touched. And then, going forward, the data portal can consult the model annotation for what not to display, rather than this

[2021-07-09 12:08] turbomam commented on #8
Thanks @dwinston . I'll wait to hear whether @wdduncan was thinking I should take any of this on.

[2021-07-09 12:59] wdduncan commented on #8
Currently I do translate the `add_date` and `mod_date` fields from gold. I also convert the dates into ISO 8601 format. Can Kitware simply exclude them from the portal interface if we don't want them displayed?

[2021-07-10 17:51] wdduncan commented on #72
@dehays Do we need to implement this for the next sprint?

[2021-07-10 18:17] dehays commented on #72
@wdduncan I am going to close this one.  The change would be to update the entire file type enum definition.  And before setting the range on data object type to the enum - we need to consider the mapping implementation that Donny used for data object type on the current data objects.

[2021-07-10 18:17] #72 closed

[2021-07-16 16:45] dwinston commented on #84
Can link to (or copy from) https://github.com/microbiomedata/nmdc-runtime#data-exports

[2021-07-24 01:20] cmungall opened #93 "rename omics processing -> instrument process"
from https://github.com/microbiomedata/nmdc-schema/pull/91#issuecomment-885764948

[2021-07-26 14:12] turbomam opened #94 "Semantics for AssociatedResearchers tab on Sample Metadata template?"
This is one component of issue microbiomedata/nmdc-metadata#375

I have no idea how to reflect this kind of data in the NMDC schema.

Field | Sample value
-- | --
Name | Pajau Vangay
email | pvangay@lbl.gov
ORCiD | 0000-0002-9231-0692
Role- CRediT | Project   administration

[2021-07-26 14:52] wdduncan commented on #93
I think it might be better to have `instrument run` as a subclass of `omics processing`. We may have other kinds of `omics processing` we need to represent; e.g., kinds of sample preparation.

Also, although I prefer the label `instrument run` to `omics processing`, depending on how the above question is answered, it might be easier to add 'instrument run` as an alias to `omics processing`.

cc @d

[2021-07-26 15:36] wdduncan commented on #94
Moving issue to `nmdc-schema` repo.

Question: Do we want a hierarchy of researchers? E.g.

researcher
  - investigator
    - co-investigator
    - principle investigator
 - other kinds of researchers?

In my experience, this would be sufficient:

investigator
    - co-investigator
    - principle investigator

but I don't know if this works in the environmental domain.

cc @cmungall

[2021-07-26 16:39] dehays commented on #93
I would prefer to drop the term 'omics processing' entirely in favor of using more descriptive terms.  Even analysis activity could be 'omics processing'.  'omics' is too general. So the aim in my recommending 'instrument process' is in making the term clearer in our use.

That relates to the term we control - now following OBI, you have 'biosample processing' as a OBI material processing (OBI:000

[2021-07-26 18:15] wdduncan commented on #93
@dehays good questions!
 - Re: gerunds: I cannot answer this. @cmungall is responsible for the creation of `omics processing`, but I suppose the "processing" bit is meant to draw attention to the notion that something is happening to the sample rather than that the material is doing something (e.g., material process may connote that the material is performing some process).
 - I agree with your an

[2021-07-28 22:22] turbomam commented on #94
investigator
- co-investigator
- principal investigator

is fine with me, but the NMDC Sample Metadata Template also captures a CRediT term relating the co-investigator to the study.

For now, I've modeled it as a list of dicts, as below.

Note that I've also used an undefined "email_address" slot.

[code]

[2021-07-28 22:25] hrshdhgd opened #96 "Meter Vs Metre for Units"
Should both spellings be acceptable? Or should there be a preference?

[2021-07-30 02:54] #56 closed

[2021-07-30 22:13] ssarrafan commented on #80
@wdduncan can this issue be closed?  Or should it be moved to August?

[2021-07-31 00:23] wdduncan commented on #80
@ssarrafan Please move to August sprint. We have an approach to implement. I think @cmungall and myself have a few details to finalize.

[2021-08-02 17:10] wdduncan commented on #96
@hrshdhgd can we close this?

[2021-08-02 17:30] hrshdhgd commented on #96
Yes sir.

[2021-08-02 17:30] #96 closed

[2021-08-02 21:24] ssarrafan opened #99 "S4G3 - Review and test GOLD API for NMDC"
Will turn into issue if the API is ready for testing and assign to Bill per discussions with David H.

[2021-08-02 21:26] ssarrafan commented on #99
@wdduncan we should be getting an update on Thursday on this API.  I'm not sure when it will be available for you to review but I'm adding it to August just in case.

@elishawc
@dehays

[2021-08-02 21:41] wdduncan commented on #87
@dwinston @turbomam @cmungall
I've added information to `MAINTAINERS.md` about how to maintain the schema and make a PyPI release.

Please review and let me know what is not clear. I will leave this ticket open while I wait for feedback.

[2021-08-03 12:45] turbomam opened #100 "add email slot for PersonValue"
Will take a string, like the orcid slot does. But maybe 0..inf cardinality?

[2021-08-03 12:46] turbomam opened #101 "where would a middle name or initial go in person_value_has_raw_value?"
Where would a middle initial or middle name go?

----

semi-related: Investigator is misspelled Investgator

[2021-08-03 12:51] turbomam commented on #100
"Due diligence"

[code]

mixs.yaml:    pattern: "[attic|bathroom|closet|conference room|elevator|examining room|hallway|kitchen|mail room|private office|open office|stairwell|,restroom|lobby|vestibule|mechanical or electrical room|data center|laboratory_wet|laboratory_dry|gymnasium|natatorium|auditorium|lockers|cafe|warehouse]"
mixs.yaml:    range: text value  ## syntax: [attic|bathroom|closet|con

[2021-08-03 12:52] turbomam commented on #100
the `orcid` slot is define in `core.yaml`

[2021-08-03 13:02] turbomam commented on #100
I'd like to give this a domain, but I think entities other than people can have an email address. Should I assert a domain of 'named thing', or is that implicit? Is there something with the right specificity between 'named thing' and 'person value'?

[2021-08-03 13:02] turbomam commented on #100
Should I assert a format/pattern or get anything started to enable validation? I know that's a slippery slope when it comes to email addresses. 'orcid' is defined with a string range and no pattern.

[2021-08-03 13:25] turbomam opened #102 "gen-json-schema could not be found within PATH or Pipfile's [scripts]."
This was triggered by running plain `make` in the repo's root. That invokes `pipenv run`. I guess I'm supposed to do `pipenv install` first.

I guess I should add that to the README

[2021-08-03 13:26] turbomam opened #103 "Lots of Unrecognized prefix warning from lots of generation steps"
For example, from the end of the plain `make` process:

WARNING:MarkdownGenerator:Unrecognized prefix: insdc.srs
WARNING:MarkdownGenerator:Unrecognized prefix: mgnify
WARNING:MarkdownGenerator:Unrecognized prefix: UniProtKB
WARNING:MarkdownGenerator:Unrecognized prefix: gtpo
WARNING:MarkdownGenerator:Unrecognized prefix: COG
WARNING:MarkdownGenerator:Unrecognized prefix: MetaCyc
WARNING:MarkdownGe

[2021-08-03 13:29] turbomam opened #104 "make docserve -> mkdocs serve -> make: mkdocs: No such file or directory"
`% make docserve`

make: mkdocs: No such file or directory

Does this require `mkdocs` on the global path, or should the make recipe be wrapped in `pipenv run`?

[2021-08-03 13:35] turbomam opened #106 "Create a credit table slot and class for studies"

[2021-08-03 13:36] turbomam commented on #106
`study` is defined in `nmdc.yaml`

[2021-08-03 15:57] turbomam commented on #104
It works if you do `pipenv install` (once?) followed by `pipenv run make docserve`

I guess you could also do `pipenv shell; make docserve`. In that case you could do other things in the shell that depend on the same environment, but then you'd probably eventually want to exit/deactivate the pipenv shell.

We could also modify the `docserve` block in the Makefile to be more similar to the generati

[2021-08-03 17:13] dwinston commented on #87
`MAINTAINERS.md` looks good to me, @wdduncan. Thanks!

[2021-08-12 01:19] wdduncan opened #108 "add DMP ID to reference data management plan"
Need to add capability for the schema to reference a data management plan (DMP). Ways I can see to do this:

1. Use a simple slot (e.g., `data management plan doi`) to reference the DMP document.
2. Create a `data management plan` attribute and `data management plan value` class. The `data management value` class would reuse the `doi` slot (already existing).

I have slight preference for (2) b/c

[2021-08-12 03:05] emileyfadrosh commented on #108
Great, thank you @wdduncan. I do not have a preference for either option, and this can be considered medium- to lower-priority compared to other tasks as I do not anticipate research teams submitting data management plans until we ramp up the engagement activities (October). Hope that helps and thanks for adding this in.

@mar-rudolph FYI ^

[2021-08-12 16:58] mar-rudolph commented on #108
@wdduncan Do these options take into account the possibility of a [DMP ID](https://github.com/CDLUC3/dmptool/wiki/DMP-IDs-and-Networked-Data-Management-Plans-(maDMPs))? We are hoping to have all DMPs in the portal be associated the with a DMP ID

[2021-08-13 00:17] cmungall commented on #27
proposal:

 * Add a parent_study field to study, with range Study
 * Add a type field, with an enum, which may have values:
     * umbrella project
     * individual study
     * ...?

[2021-08-13 22:42] ssarrafan commented on #99
@wdduncan @emileyfadrosh since Reddy did his presentation does the API still need to be reviewed by Bill?  Or should this ticket be closed and a new one opened to address the GOLD API issue?

[2021-08-13 22:50] emileyfadrosh commented on #99
This ticket can be closed as this has been discussed over email. @ssarrafan I will follow up separately with a set of follow-on tasks, thanks!

[2021-08-17 20:49] emileyfadrosh commented on #99
I reviewed the new GOLD API for the NMDC (details [here](https://github.com/microbiomedata/nmdc-schema/issues/99)) and have requested ~50 additional fields of relevance that will be needed going forward. This additional list of fields is attached here. Thanks!
[IMG-API-fields-8-17-2021.txt](https://github.com/microbiomedata/nmdc-schema/files/7002954/IMG-API-fields-8-17-2021.txt)

[2021-08-19 21:55] ssarrafan opened #110 "Write enrichment framework python library. The core framework will not perform any enrichment, it will provide the backbone from which individual routines can be implemented."
Part of larger issue: https://github.com/microbiomedata/nmdc-metadata/issues/330

[2021-08-19 21:55] ssarrafan opened #111 "add NER routine for suggesting biome terms based on package + sample description, limited to soil/sediment package for first pass"
Part of larger issue: https://github.com/microbiomedata/nmdc-metadata/issues/330

[2021-08-19 21:55] ssarrafan opened #112 "Add NER routine for suggesting biome terms based on package + sample description for material and feature"
Part of larger issue: https://github.com/microbiomedata/nmdc-metadata/issues/330

[2021-08-19 21:56] ssarrafan opened #113 "Add NER routine for suggesting biome terms based on package + sample description for fao_soil_class or other mixs controlled field of relevance to NMDC"
Part of larger issue: https://github.com/microbiomedata/nmdc-metadata/issues/330

[2021-08-19 21:56] ssarrafan opened #114 "plug in @StantonMartin's code for ORNL Identify elevation layer"
Part of larger issue: https://github.com/microbiomedata/nmdc-metadata/issues/330

[2021-08-19 21:56] ssarrafan opened #115 "plug in @StantonMartin's code for ORNL soil type layer"
Part of larger issue: https://github.com/microbiomedata/nmdc-metadata/issues/330

[2021-08-19 21:56] ssarrafan opened #116 "Wrap python library in flask or fastapi, exposing an openAPI endpoint"
Part of larger issue: https://github.com/microbiomedata/nmdc-metadata/issues/330

[2021-08-19 22:02] ssarrafan commented on #111
Met with @turbomam and @wdduncan today. This may need to be clarified with @cmungall but leaving assigned to Mark for now.  Let me know if it should be changed.

[2021-08-19 22:07] ssarrafan commented on #114
Met with @wdduncan today and he said to assign to Stan and Bill but that Stan will be training a student to work on this and so it may not be done for a couple of months. I'm leaving in the backlog for prioritization and timing to determine appropriate sprint.

@emileyfadrosh @cmungall

[2021-08-19 22:08] ssarrafan commented on #115
Met with @wdduncan today and he said to assign to Stan and Bill but that Stan will be training a student to work on this and so it may not be done for a couple of months. I'm leaving in the backlog for prioritization and timing to determine appropriate sprint.

@emileyfadrosh @cmungall

[2021-08-19 22:10] ssarrafan commented on #116
Met with @turbomam and @wdduncan today. This will be assigned to @cmungall for now although someone else from his team may work on it.  I've added it for September but please let me know if the timing should be pushed back (or forward).

@kfagnan @emileyfadrosh

[2021-08-20 19:36] wdduncan commented on #115
moving this to the `sample-annotator` repo

[2021-08-20 19:39] wdduncan commented on #114
transferring this issue to sample-annotator

[2021-08-20 19:40] wdduncan commented on #111
transferring issue to sample-annotator

[2021-08-20 19:41] wdduncan commented on #110
transferring issue to sample-annotator

[2021-08-20 19:58] wdduncan commented on #108
@mar-rudolph Is the `DMP-ID` different than the `doi`? If so and capturing it is important, then I should create an object to hold DMPs (i.e., proposal (2) above).

[2021-08-20 20:11] mar-rudolph commented on #108
@wdduncan They are the same thing. Here's an [example](https://dmphub.cdlib.org/dmps/doi:10.48321/D17G67) and here's a [presentation](https://docs.google.com/presentation/d/1NrnFn3feMloZpHsugeamW8RlZJyqaLiTMeqolTGgKU4/edit#slide=id.p4) that talks about the DMP ID that might be helpful.

[2021-08-20 20:16] wdduncan commented on #108
Are you wanting to search DMPs using the `data management plan doi` field or `DMP ID` field?

[2021-08-20 20:18] mar-rudolph commented on #108
Let's do DMP ID since that's CDL's terminology and will be the primary minter of those IDs

[2021-08-20 20:20] wdduncan commented on #108
Thanks. Can you work with Set or Emily to determine which sprint this needs to be implemented in?

[2021-08-20 20:21] mar-rudolph commented on #108
Yes, no problem! I'm setting up a discussion between Maria (DMPTool admin who has created these IDs), Mark, and I. Would it be useful to include you?

[2021-08-20 20:26] wdduncan commented on #108
Yes. You can include me :)

[2021-08-24 17:46] dwinston opened #119 "`alternative identifiers` vs `alternate identifiers`"
which is preferred? I'd like one to be marked as preferred, or for there to just be one.

current use case: several biosamples with "igsn:"-prefixed IDs also have "gold:"-prefixes IDs. Which slot should we put the "gold:" IDs in?

[2021-08-24 17:47] dwinston commented on #119
@dehays @cmungall ?

[2021-08-24 22:38] wdduncan opened #120 "add name slot to person value"
Person values should have a `name` slot (also, perhaps,`first name`, `middle name`, and `last name` slots).

cc @cmungall @dehays

[2021-08-24 22:51] wdduncan opened #121 "add websites slot for person value"
Perons (e.g., PIs) may want personal websites associated with them. So, add `websites` slot to `person value`.

cc @cmungall @dehays

[2021-08-24 22:57] wdduncan opened #122 "have teams of people associated with studies"
@pvangay would like to distinguish between the "team" of the study and the co-principal investigators.

![image](https://user-images.githubusercontent.com/3186638/130700461-9bd97d2a-9055-4410-821d-1348ac673ad0.png)

This could be done on the kitware side by having special rules about how members are displayed based on their roles.

@turbomam can a person have more than one role?

cc @cmungall @deh

[2021-08-24 23:00] wdduncan opened #123 "add study image urls"
@pvangay wishes to have images associated with studies. E.g.:

![image](https://user-images.githubusercontent.com/3186638/130700798-d6b9ad8f-67be-4ea5-b226-aefd6504104d.png)

further discuss is needed.

cc @cmungall @dehays @turbomam

[2021-08-24 23:12] wdduncan commented on #123
A description may need to be associated with the image. So, we may need to add an `image` class with slots `url` and `description` (note: `description` is already a slot with all `named thing`).

[2021-08-24 23:32] dehays commented on #119
I think we should choose one, rather than using both with one 'preferred'.

Whichever IDs are not the value of the id field would be in the alternate_identifiers list.  If the ID value on a biosample is igsn:### then the gold:### can go in the alternate_identifiers list.  (The fact that there are both is now historic.  The igsn: referred to a environmental material sample and there were gold: IDs

[2021-08-25 20:14] wdduncan opened #124 "check if json schema is regenerated in github action"
When a PR is merged, need to check if the json schema is regenerated by github action.

cc @cmungall

[2021-08-25 20:17] wdduncan opened #125 "remove alternate identifiers from schema"
Remove slot `alternate identifiers` from schema. To easily confused with `alternative identifiers`.

Note: we are keeping `alternative identifiers`!

cc @cmungall

[2021-08-30 19:57] turbomam opened #126 "src/schema/mixs.yaml has no name slot"
`linkml-runtime/linkml_runtime/utils/schemaview.py` from `linkml/linkml-runtime`
 will instantiate off of `nmdc.yaml`, but operations like `all_class` fail under the default `imports=True` condition, because `src/schema/mixs.yaml` doesn't have a required(?) `name` value

How is `src/schema/mixs.yaml` built? If it was a one time manual thing, can I just add a name?

[2021-09-01 00:49] ssarrafan commented on #99
@emileyfadrosh and @wdduncan I'm adding the backlog label to this. Let me know if it should be moved to the September sprint instead.

[2021-09-01 19:04] ssarrafan commented on #112
Adding "backlog" to this one. @cmungall let me know if this should be slotted into September's sprint.

[2021-09-02 16:38] wdduncan opened #134 "group class for workflow execution activities"
@cmungall @scanon

@dehays and I came up with the following proposal for grouping together metagenome and metatranscriptome workflows.

First create a high-level `biological analysis` class:
[code]

Next, inherit from this high-level class for the metagenome, metatranscriptome (and other potential needs):
[code]
The `### CREATE THIS CLASS` comments mean that these classes are not in data model yet

[2021-09-02 17:10] dehays commented on #134
Example from Shane: /global/cfs/cdirs/m3408/ficus/pipeline_products/nmdc:mga0s317

[2021-09-02 21:37] #126 closed

[2021-09-03 00:03] wdduncan commented on #124
@cmungall a json schema is generated during the [github actions ](https://github.com/microbiomedata/nmdc-schema/blob/8a47e5d18ab47145983f18021dcb5ebba135de52/.github/workflows/check-pull-request.yaml#L50) that checks the pull request.

Can this ticket be closed?

[2021-09-03 01:13] #87 closed

[2021-09-03 01:13] #125 closed

[2021-09-03 20:27] ssarrafan commented on #99
After discussing with @emileyfadrosh and email with @wdduncan I'm adding this issue to the September sprint and removing the backlog label.

[2021-09-03 20:30] ssarrafan opened #136 "GOLD API - Experiment"
Bill will experiment with the GOLD API by querying the API and pulling Spruce data using the API and then comparing that data to what's in the Mongo DB for validation

[2021-09-03 20:31] ssarrafan commented on #136
@dwinston Bill wanted you to be aware of this GitHub issue

[2021-09-03 21:32] ssarrafan commented on #122
@turbomam will you have bandwidth to work on this in September?

@pvangay @wdduncan

[2021-09-03 21:33] ssarrafan commented on #122
NMDC-server#434 is dependent on this issue being completed

[2021-09-03 21:34] ssarrafan commented on #123
NMDC-server#434 is dependent on this issue being completed.

@wdduncan do you have bandwidth for this issue in September?
@pvangay
@emileyfadrosh

[2021-09-03 21:45] ssarrafan opened #137 "Data harmonizer templates"
Test data harmonizer as a tool for curating data

[2021-09-03 21:57] cmungall commented on #136
@wdduncan - do you intend to use the same mapping file: https://github.com/microbiomedata/nmdc-schema/blob/main/sssom/gold-to-mixs.sssom.tsv

It looks like the fields in the API JSON payload are the same as the fields in the gold database, with camelCasing applied

e/g
https://github.com/microbiomedata/nmdc-schema/blob/main/sssom/gold-to-mixs.sssom.tsv#L14

|subject|subject label|predicate|object|

[2021-09-03 21:58] cmungall commented on #136
Let's timebox 1-3 hours for this experiment and check in before getting in too deep

[2021-09-03 22:03] cmungall commented on #80
- [ ] extend QuantityValue to have lower/upper values [SMALL]
 - [ ] update ETL code to populate these. Logic: (@dehays and @mslarae13  to confirm) [MEDIUM]
        - if depth2 provided:
              * lower = gold.depth, upper = gold.depth2, value = None
         - else:
               * value = gold.depth, lower = None, upper = None
 - [ ] kitware to implement correct logic for querying

[2021-09-03 22:09] cmungall commented on #99
How is this different from #136 ?

[2021-09-03 22:17] cmungall commented on #123
Can we flesh out requirements more:

 - one image per study or multiple?
 - are the images in order and do they need to be inlined with the text?
 - do the images have their own metadata and/or captions associated with them? e.g license. It sounds like there is a requirement for caption/description
 - is the size already normalized, or do they need to be accompanied by information about how to sca

[2021-09-03 22:54] wdduncan commented on #136
@cmungall I will have to either create a new sssom file or add the camel case fields to the current one. I lean towards the latter, but can be go with the forme too.

[2021-09-03 22:57] wdduncan commented on #122
@ssarrafan I think we can do this in September.

[2021-09-04 19:58] cmungall commented on #136
The latter won't work as sssom is for pairwise mappings only

if you do go with the former, should it not be automatically generated? Do you even need the mapping file, and instead do the mapping to camelcase on the fly?

[2021-09-05 01:29] wdduncan commented on #136
Since the camel case labels will be different can't I just add them to the sssom file? E.g:

|subject|subject label|predicate|object|object label|type|
|---|---|---|---|---|---|
|gold.vocab:salinityConcentration	| salinityConcentration	| skos:exactMatch	| mixs:salinity |	salinity	|SSSOMC:HumanCurated	|

In cases in which there is not any camel casing (e.g., depth, altitude) the mapping to the mixs

[2021-09-07 20:58] wdduncan opened #138 "add enums for study roles"
Add enums to define the roles that a person can have in study. See #106 and #94 for reference.

cc @cmungall @turbomam

[2021-09-08 19:41] dehays commented on #134
`{
  "has_input": [],
  "part_of": "nmdc:mga0s317",
  "git_url": "https://github.com/microbiomedata/mg_annotation/releases/tag/0.1",
  "has_output": [],
  "was_informed_by": "gold:Gp0213371",
  "id": "nmdc:mga0s317",
  "execution_resource": "NERSC-Cori",
  "name": "Metagenome Analysis Activity for nmdc:mga0s317",
  "started_at_time": "2021-08-05T14:48:51+00:00",
  "type": "nmdc:metagenomeAnalysisA

[2021-09-08 21:47] cmungall opened #139 "Extend sample metadata to include amplicon related fields"
These should be in mixs.yaml already; these ones here
https://cmungall.github.io/mixs-source/MIMARKSSurvey/

e.g.

MIMARKS survey➞samp_vol_we_dna_ext 0..1
Range: QuantityValue
MIMARKS survey➞nucl_acid_ext 0..1
Range: String
MIMARKS survey➞nucl_acid_amp 0..1
Range: String
MIMARKS survey➞target_gene 1..1
Range: String
MIMARKS survey➞target_subfragment 0..1
Range: String
MIMARKS survey➞pcr_primers 0.

[2021-09-10 17:09] dehays commented on #139
@cmungall  You are suggesting putting pcr_primers on the biosample rather than on a new sequencing project type?  GOLD puts these on the sequencing project.

More generally - I'd consider library creation metadata to be associated with the sequencing project rather than the biosample.

[2021-09-14 20:11] dehays opened #140 "Study slot for ESS-DIVE dataset list"
Looking at https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/external_identifiers.yaml

My plan would be to add a 'ess dive dataset identifiers' type to https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/external_identifiers.yaml and then use that as the range for a 'ess dive datasets' slot on study

@cmungall @wdduncan

We have values to populate this with now.  T

[2021-09-14 22:18] pvangay commented on #123
@cmungall my 2 cents:
- 1 (or more - nice to have) images per study, each with their own caption/description
- order may matter
- does including by URL prevent the user from scaling themselves?

[2021-09-16 16:31] turbomam commented on #100
the following email slot has been merged into `core.yaml`

[code]

possible followups:

-  'entity' misspelled as 'entitity'
- remove note
- improve range with a regular expression pattern: https://emailregex.com/ ?
- add domain?

[2021-09-16 16:46] turbomam opened #141 "'person' misspelled 'persion' for `profile image url` in `core.yaml`"
[code]

I'll check for other misspellings, too.

[2021-09-16 16:49] turbomam commented on #100
reopened branch on remote

[2021-09-16 18:02] turbomam commented on #100
Add `foaf:mbox` IRI? Would need a prefix definition?

[2021-09-16 18:10] turbomam commented on #100
@cmungall suggests using https://schema.org/email.

They give a sample object of "mailto:jane-doe@xyz.edu". Would we want to include that service prefix, or just stick to the email address proper?

[2021-09-16 18:14] turbomam commented on #100
@cmungall also mentioned mapping to foaf or even obi email terms if available. Pushed `slot_uri: schema:email` as above, but not mappings yet.

[2021-09-16 18:38] turbomam commented on #120
added `name` slot but omitted finer grained modeling.

[2021-09-16 18:48] turbomam commented on #120
In discussion with @cmungall about deprecating the currently-used `has raw value`

I've left it like this for now:

[code]

[2021-09-17 18:46] dehays opened #142 "Study slot for funding source"
Funding source would be a string value (at least initially, I see no consistent structure to the values for this).

Example:

[2021-09-17 19:01] dehays opened #143 "Study slot for relevant protocols"
I think one also needs to be a string value.  The example we give is this:

Most studies have not provided any value for this.  Example of what has been provided:

[2021-09-21 14:14] turbomam opened #148 "Build and Deploy Static Mkdocs Documentation vs openpyxl"
https://github.com/microbiomedata/nmdc-schema/actions/runs/1257938882

Installing initially failed dependencies...
[InstallError]:   File "/opt/hostedtoolcache/Python/3.9.7/x64/lib/python3.9/site-packages/pipenv/cli/command.py", line 233, in install
[InstallError]:       retcode = do_install(
[InstallError]:   File "/opt/hostedtoolcache/Python/3.9.7/x64/lib/python3.9/site-packages/pipenv/core.py",

[2021-09-21 17:25] cmungall commented on #139
@dehays good point. Yes, and I think all sub-fields of mixs:sequencing_field go on sequencing project https://cmungall.github.io/mixs-source/sequencing_field/ - we should document these kinds of high level mapping patterns

We could just go ahead and do this on the metadata call. It may be instructive for people to see how this kind of thing is done. Should take a few minutes max.

The harder work

[2021-09-21 19:35] wdduncan commented on #138
Credit enum has been added to `nmdc.yaml`. May need update values depending on project needs.

[2021-09-21 19:35] #138 closed

[2021-09-21 19:36] #106 closed

[2021-09-21 19:36] #100 closed

[2021-09-21 19:41] wdduncan commented on #141
fixed

[2021-09-21 19:41] #141 closed

[2021-09-21 19:43] wdduncan commented on #148
@turbomam @cmungall Closing this issue. I assume adding openpyxl fixed the issue.

[2021-09-21 19:43] #148 closed

[2021-09-21 19:49] wdduncan opened #151 "Update schema version after recent PRs"
The schema version needs to updated following the recent PRs made by @turbomam
Also, new artifacts need be generated by running `make all`. I'll do this ...

[2021-09-21 20:13] wdduncan commented on #151
Done.

[2021-09-21 20:13] #151 closed

[2021-09-21 20:17] wdduncan opened #153 "add yaml files to pypi release"
In order for SchemaView to work properly using the pypi release of nmdc-schema, all the yaml files need to be available.

Specifically, the package data in setup.py needs to be modified:
[code]

[2021-09-22 20:21] wdduncan opened #157 "make has output not required for omics processing"
As part of the GOLD ETL, I won't necessary have access to the outputs of sequencing projects (e.g., the SPRUCE data). The outputs will be hooked up to sequencing projects later.

To handle this: Make `has output` not required for `omics processing`.

**NB:** I will also need to update the ETL code to allow for sequencing projects w/o outputs.

cc @dehays @cmungall

[2021-09-22 21:11] wdduncan commented on #139
Finished

[2021-09-22 21:11] #139 closed

[2021-09-27 17:26] wdduncan opened #159 "applied role slot for credit association needs to be multivalued"
The `applied role` slot for  `credit association` needs to be multivalued. The reason for this is that an investigator may have multiple roles on the same study, and having a list of roles is more efficient to enter rather than one credit association for each person/role instance.

cc @dehays @turbomam @cmungall

[2021-09-28 18:55] #142 closed

[2021-09-28 18:55] #143 closed

[2021-09-28 19:08] #140 closed

[2021-09-28 20:57] wdduncan commented on #159
Done.

[2021-09-28 20:59] wdduncan commented on #153
Done in https://github.com/microbiomedata/nmdc-schema/pull/154

[2021-09-28 20:59] #153 closed

[2021-09-28 21:09] #121 closed

[2021-09-28 21:19] #157 closed

[2021-09-28 21:40] wdduncan commented on #122
We have added a [has credit associations](https://microbiomedata.github.io/nmdc-schema/has_credit_associations/) slot/relationship to link a study with the team of researchers.
I think this suits your needs. I am closing this ticket for now. We can reopen if this solution doesn't work.

[2021-09-28 21:40] #122 closed

[2021-09-29 23:43] ssarrafan commented on #137
@turbomam can we close this issue?  Maybe with a link to the latest templates/repo?

[2021-09-29 23:49] ssarrafan commented on #136
@cmungall and @wdduncan should this issue be closed, moved to the backlog or moved to the October sprint?

[2021-09-29 23:52] ssarrafan commented on #113
@turbomam should this issue be closed, moved to the backlog or moved to the October sprint?

[2021-09-29 23:52] ssarrafan commented on #80
@wdduncan should this issue be closed, moved to the backlog or moved to the October sprint?

[2021-09-29 23:58] ssarrafan commented on #99
Closing this as it's the same as #136

[2021-09-29 23:58] #99 closed

[2021-09-29 23:59] ssarrafan commented on #123
@cmungall @wdduncan should this issue be closed, moved to the backlog or moved to the October sprint?

[2021-09-30 13:18] wdduncan commented on #123
@ssarrafan Please move to October sprint. Thanks!

[2021-09-30 13:20] wdduncan commented on #136
@ssarrafan I do not know if the GOLD API is ready for me to start using in earnest yet. If it is, then this can go on the October sprint. What do you think @cmungall ?

[2021-09-30 15:03] wdduncan opened #163 "biosample "part of" slot_usage produces schema validation"
In `nmdc.yaml`, the `biosample` class defines `part of` in the `slot_usage` section:
[code]
During ETL, this results in a "part of" (note the space) in json output. E.g.:
[code]
This is a schema violation. It should be "part_of" (with an underscore).

I think the solution is to include `part of` in `slots` section of the `biosample` class.

cc @cmungall @dwinston

[2021-09-30 17:57] turbomam commented on #137
- Here are the templates: https://github.com/turbomam/DataHarmonizer/tree/master/template
- From this repo: https://github.com/turbomam/DataHarmonizer
- Based on this code: https://github.com/microbiomedata/nmdc-metadata/blob/issue-375/notebooks/build_dh_mixs_templates.ipynb

Remaining to do:
- add columns based on input from @mslarae13.
    - Set analysis results at https://github.com/microbiomed

[2021-09-30 19:11] wdduncan commented on #80
@ssarrafan Please move this to the October spring :) Thanks!

[2021-09-30 20:18] turbomam commented on #113
I would say move to October. This approach would really enrich sample metadata, and I can do it. I just haven't gotten to it yet.

[2021-09-30 20:21] wdduncan commented on #163
Closing the issue. The problem turned to be a mistake in the etl software.

[2021-09-30 20:21] #163 closed

[2021-09-30 22:20] ssarrafan commented on #80
@wdduncan we are planning to devote November to fixes, clean up etc.  Would it make sense to move this issue to November?

@dehays

[2021-09-30 22:22] ssarrafan commented on #137
I will close this one then and create a new issue for October related to adding columns based on input from Montana.

[2021-09-30 22:22] #137 closed

[2021-09-30 22:29] ssarrafan opened #167 "Data Harmonizer - additional tasks"
- [x] add columns based on input from @mslarae13.
    - old **slot** set analysis can be found at https://github.com/microbiomedata/nmdc-metadata/blob/issue-398/notebooks/soil_slot_column_analysis_curated.json
    - [ ] #276
    - [x] new **enum** set analysis has been generated and can be found at ???
- [x] Resolving this may require requesting new terms or requesting new package/slot association

[2021-09-30 22:34] wdduncan commented on #80
I think I can get to it in October. Unless, a number of other issues crop up :(

[2021-10-01 22:09] ssarrafan commented on #136
I'll go ahead and move this to the October sprint but please let me know if it should be in the backlog or assigned to someone else.  @wdduncan @emileyfadrosh @dehays

[2021-10-04 23:31] cmungall commented on #136
I spoke to @wdduncan earlier today

 - the gold API is ready to be used
 - we are not sure how much work it would be to refactor the ingest code, @wdduncan will look into this

I would also like us to be working against a schema or formal data dictionary from the gold api. Ideally this would come from gold e.g. in swagger/openAPI, but we can use some of our linkml tooling to infer the schema (the

[2021-10-10 21:02] wdduncan opened #171 "broken data download links"
@turbomam The download links seem broken. Here is what I get when I click on one.

![image](https://user-images.githubusercontent.com/3186638/136712863-5fefc974-7355-4726-a327-d241181545a8.png)

Would you mind updating them? ... please :)

cc @cmungall

[2021-10-11 16:37] dwinston commented on #171
Perhaps just replace the section with a link to <https://github.com/microbiomedata/nmdc-runtime/#data-exports>?

[2021-10-12 18:27] wdduncan opened #174 "descriptions for induced slots are being dropped"
When you override a slot in the `slot_usage` specification for a class, the description in original slot is not translated into the jsonschema.

As an example: In the NMDC schema, we provide a definition for the `env_broad_scale` slot in the [mixs.yaml](https://github.com/microbiomedata/nmdc-schema/blob/41621387eae916ba7c9f8270fb03aab189f64804/src/schema/mixs.yaml#L150) schema.
We then require the

[2021-10-12 21:53] wdduncan opened #178 "expand regex for functional annotations"
Not all functional annotations are conforming to our [regexs](https://github.com/microbiomedata/nmdc-schema/blob/582883ba745642676158e383635f2609c72ddcfd/src/schema/annotation.yaml#L198). As @dwinston pointed out, the pattern `3-hydroxyacyl-[acyl-carrier-protein] dehydratase` doesn't conform (it doesn't have a prefix). He is currently [filtering out](https://github.com/microbiomedata/nmdc-runtime/

[2021-10-13 03:57] cmungall commented on #178
Here is what is happening here. Thinking in terms of regexes is not so useful here. What we have is a distinction between two kinds of annotations

 1. Annotations of genes with a gene product name, e.g. 3-hydroxyacyl-[acyl-carrier-protein] dehydratase
 2. Annotations of genes with a term for a vocabulary/ontology/database, e.g. KEGG.KO, Pfam, EC, MetaCyc, GO, etc

With type 1 annotations, there i

[2021-10-13 11:22] turbomam commented on #178
I removed the regex pattern from `has_function` and moved it into a comment. Maybe that's not the best place to keep it. I can work on the `FunctionalAnnotationType` idea later this week or early next week.

Does the coordination with the portal team need to be completed before PR #179 can be merged?

[2021-10-13 13:39] wdduncan commented on #178
@cmungall Thanks for the explanation! I'll make a new release today.

[2021-10-13 20:19] wdduncan opened #182 "add file type enums"
New file type enums are needed. These can be retrieved from the file_type_enum collection. Each object has an id, name, description. So, write script to generate the enums.

After completed, request review of names and descriptions.

Current enum list of 30 types available [here](https://gist.github.com/dwinston/bdd8aaa0461e15f67da50604a9060bd9).

cc @dehays @cmungall

[2021-10-13 21:23] wdduncan opened #183 "nmdc-version util broken"
When I run `nmdc-verson`, an error results:
[code]
I think the underlying `rawloader` library changed ...

[2021-10-14 02:54] wdduncan commented on #174
@cmungall I agree using schema view would be better. Kitware uses the jsonschema. Perhaps we can get them to use schema view?

[2021-10-18 16:59] wdduncan commented on #171
@turbomam can you update the readme to use the [nmdc-runtime exports](https://github.com/microbiomedata/nmdc-runtime/#data-exports)?

[2021-10-19 14:50] turbomam commented on #171
Sorry for the delay, @Bill, I think I see a couple of ways for doing this and I'm not sure which you think is best.

- One solution is in PR #181, which you approved but I don't merge yet. I used the link https://portal.nersc.gov/project/m3408/meta/mongoexports/2021-07/ which points to a handy download index page that's sort-able by name and size, but it's static for the 2021-07 release and would

[2021-10-19 20:47] ssarrafan commented on #123
@pvangay Bill reported that he needed more information from you to proceed with this issue.  Can you please follow up with @wdduncan?

[2021-10-19 20:53] ssarrafan commented on #136
@cmungall Bill reported today that he needs some clarification on next steps for this issue.  Can you please follow-up with him?  Or let me know if this issue should be moved to the backlog or a different sprint?  Thanks!

[2021-10-20 16:41] cmungall opened #191 "Include distinct packages in the schema"
Currently we have a "flat" biosample class with all relevant slots listed underneath

to drive DH we want to separate slots into packages. These will follow mixs, but we will be able to extend packages to add  our own slots.

For the purposes of the portal, we will continue to roll these up to a generic biosample class

[2021-10-20 17:22] #123 closed

[2021-10-22 16:06] wdduncan opened #193 "remove depth2 and subsurface_depth2 attributes"
After ETL reflecting schema changes in #189 have been processed by Kitware, remove the  `depth2` and `subsurface_depth2` attributes. These are only in there for backwards compatibility.

Related to https://github.com/microbiomedata/nmdc-runtime/issues/44

[2021-10-22 22:08] wdduncan opened #194 "add unit tests for validation"
Currently, I am using `make validate` for testing in `nmdc-schema`.
[code]

I should switch to using unit tests.

@ssarrafan can add this to the November sprint?

cc @cmungall

[2021-10-23 00:06] wdduncan opened #195 "move package files into nmd_schema directory"
When I originally setup the repo, I was trying to keep the artifact folders (e.g., jsonchema, python) at the top level of the repo. This means that I have copy the artifacts to the `nmdc_schema` directory when making a pypi release. Better practice seems to be to put these files in the directory where the package contents are (also allows you to use `pip install -e .` when developing).

@ssarrafan

[2021-10-29 20:58] ssarrafan commented on #167
@turbomam can this issue be updated or closed?  If it needs to continue to November let me know and I can move it for you.

[2021-10-29 21:02] ssarrafan commented on #113
@turbomam should this issue be closed, moved to the backlog or moved to the November sprint?

[2021-10-29 21:02] turbomam commented on #113
move to November sprint please

[2021-10-29 21:07] turbomam commented on #167
The emphasis has shifted to converting Montana's [Index of Terms](https://github.com/microbiomedata/nmdc-metadata/issues/330) document to YAML so that parts of it can be incorporated into the NMDC schema as necessary. That will have to continue into November.

[2021-10-29 22:44] ssarrafan opened #197 "Repair MIXS environment annotations"
MIXS environment repair annotations to the format: label1 (D1) label2 (D2)...

On the Nov list for refactoring

[2021-10-29 22:50] ssarrafan opened #198 "Description fields for portal search terms"
Clean/revise/add description fields in the schema for all terms in the portal search pane

Added to Nov sprint planning doc by @pvangay

[2021-11-08 23:05] cmungall commented on #167
Need JGI terms too?

[2021-11-10 22:31] wdduncan opened #200 "add slot to identify for external data object"
We need to add slot to identify a data object that points to an external data source (e.g., the EMP500 amplicon data).

[2021-11-10 22:33] turbomam commented on #200
See also https://github.com/microbiomedata/nmdc-metadata/issues/400

[2021-11-11 21:28] wdduncan opened #201 "test manually executing workflows (workflow_dispatch)"
It may useful to execute some workflows manually. So, create a test workflow to learn how to set this up.

Info:
https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#workflow_dispatch

[2021-11-12 22:55] ssarrafan commented on #113
@emileyfadrosh @turbomam would you prefer if I move this to December or to the backlog?

[2021-11-15 17:45] #182 closed

[2021-11-17 21:40] wdduncan opened #206 "Update examples for data object type enums"
The [examples](https://github.com/microbiomedata/nmdc-schema/blob/053134735757892f81b98d12c047c6f7149a603b/src/schema/nmdc.yaml#L765) for `data object type` needs to be update using the new `file type enums`.

[2021-11-18 19:17] ssarrafan commented on #134
Should this issue be added to the November sprint? @wdduncan @dehays

[2021-11-18 19:29] ssarrafan commented on #193
@wdduncan should this be added to the December sprint?

[2021-11-18 19:38] ssarrafan commented on #197
Leaving this in the current sprint based on the mid-sprint review but let me know if it should be moved to December @turbomam

[2021-11-18 19:39] ssarrafan commented on #113
Moving this to the December sprint based on the lower priority discussed at the mid-sprint review.

[2021-11-18 19:39] wdduncan commented on #193
This is dependent on corridation with Kitware. If possible, it would be great to get this done before @dwinston goes on leave. Do you think that is possible?

[2021-11-18 19:44] ssarrafan commented on #198
Moving this to the December sprint per discussions at mid-sprint that it's a priority but not till January release.

[2021-11-18 21:12] emileyfadrosh opened #207 "Update schema to include additional analysis output files"
@wdduncan Based on discussion during the API tutorial with @dwinston earlier today, we thought it would be a good idea to test a quick update to the schema to ensure we could ingest additional files. Could you please add the below under enums:

TIGRFam Annotation GFF:
        description: GFF3 format file with TIGRfam
        file: [GOLD-AP]_tigrfam.gff

Clusters of Orthologous Groups (COG) Annota

[2021-11-19 15:11] wdduncan opened #208 "update pipfile dependencies"
Need to move many of the dependencies in the Pipfile to dev section.

[2021-11-19 15:38] #208 closed

[2021-11-19 17:50] wdduncan commented on #207
@emileyfadrosh Is kitware planning to use the file information? I can add file info as a comment in the schema, but it doesn't get translated into the jsonschema.

[2021-11-19 17:53] emileyfadrosh commented on #207
Sorry, I should have clarified: Donny will need the file information to make sure that is propagated to kitware. Probably not needed to add as a comment in the schema, but I will let @dwinston comment -- thoughts? Thanks!

[2021-11-19 19:39] dwinston commented on #207
@emileyfadrosh are you expecting, for example, a file with a name ending in “_tigrfam.gff” to automatically be assigned a file type of “TIGRFam Annotation GFF” on submission? If so, then this will need to be added to the schema so that it can be used formally by any code that processes metadata during submission.

[2021-11-19 21:06] wdduncan commented on #207
@dwinston I've added the enums, but I need to add some utility methods for you to pull out the file name patterns.

[2021-11-20 03:34] #206 closed

[2021-11-20 05:32] wdduncan commented on #207
@dwinston The new file enums are in the latest release of `nmdc-schema`. I've added a `nmdc-data` command line util:
[code]
If you execute `nmdc-data --fetch filetypeenums`, you will json output that looks like this:
[code]
Can you work with this structure? If not, I can easily change it.
You can also access the underlying functions in [nmdc_data.py](https://github.com/microbiomedata/nmdc-schema/b

[2021-11-22 22:08] wdduncan opened #214 "get_nmdc_dict not returning correct schema"
My refactor to using `nmdc_data.py` to serve up the data broke something.  Calling `nmdc_get_dict` returns:
[code]
Instead of a proper json schema; e.g.:
[code]

[2021-11-22 23:26] #214 closed

[2021-11-23 00:31] #84 closed

[2021-11-23 00:53] wdduncan opened #216 "permit for multiple credit roles"
@dehays @emileyfadrosh would like to be to add multiple credit roles for a researcher.  Currently, the `applied role` is not multivalued. Making it multivalued  would invalidate the data presently in Mongo and would cause issues with the data portal.

I propose the following:
* Keep the `applied role` slot but deprecate it.
* Create an `applied roles` slot to capture the multiple roles an investig

[2021-11-29 21:53] ssarrafan commented on #194
Hi @wdduncan. Is this issue done or does it need to go to the backlog or the next sprint?

[2021-11-29 22:11] ssarrafan commented on #194
Moving to December per @wdduncan

[2021-11-29 22:11] ssarrafan commented on #195
Moving to December per @wdduncan

[2021-11-30 19:43] ssarrafan commented on #197
Adding the backlog label and removing from sprint per @turbomam via Slack

[2021-11-30 19:45] ssarrafan commented on #167
Moving this to the December sprint per @turbomam via Slack

[2021-12-04 00:20] pvangay commented on #198
### Portal search terms that have MIxS Descriptions
@wdduncan these should be populated from MIxS
- [ ] Latitude
- [ ] Longitude
- [ ] Depth
- [ ] Environmental biome
- [ ] Environmental feature
- [ ] Environmental material
note that the [portal envo search terms dont match the schema at the moment](https://github.com/microbiomedata/nmdc-server/issues/548)

### Portal search terms that are not in

[2021-12-06 21:37] ssarrafan opened #217 "Add this link: https://data.ess-dive.lbl.gov/view/doi:10.15485/1577267 under the study Brodie study page for the link to ESS-DIVE"
This came up during a check in meeting with ESS-DIVE 12/6/21.

[2021-12-16 19:13] mslarae13 opened #218 "Read the Docs Missing Figure"
The read the docs is missing figures in the Metadata Standards Documentation chapter

https://microbiomedata.github.io/nmdc-schema/Metadata_Documentation_Overview/

Can we locate these figures and fix this?

[2021-12-16 20:27] wdduncan opened #219 "modify database set properties to use inlined_as_list"
modify database set properties to use inlined_as_list e.g.:

[code]

[2021-12-16 20:38] cmungall opened #220 "Run test-jsonschema_invalid as part of test suite"
To ensure the schema is robust, we need to check both

 1. Valid schemas pass validation
 2. Invalid schemas fail validation

Currently we only run checks for 1 (`make test-jsonschema`) as part of github actions

We also need to check for 2. We previously had some code in the makefile for this, and a set of deliberately invalid schemas (e.g. mis-spelled keys), but this seems to have dropped out of

[2021-12-16 20:40] cmungall commented on #220
@sujaypatil96 will handle this (I can't assign yet, but have sent invite)

[2021-12-16 22:21] sujaypatil96 commented on #220
@cmungall: As part of this issue do we need to come up with more invalid schemas? Or does it entail just updating the [check-pull-request.yaml](https://github.com/microbiomedata/nmdc-schema/blob/main/.github/workflows/check-pull-request.yaml) to include `make test-jsonschema_invalid` as part of one of the steps?

We should also think about separating the schemas in [`data`](https://github.com/micr

[2021-12-17 02:36] cmungall commented on #220
A general SOP here is to make a series of 'mutant' files each exhibiting a
different phenotype

 - undeclared slot
 - missing field
 - multi/single value mixup
 - invalid range

you don't need to understand the schema. just take the existing positive
example, and make deliberate errors. E.g. add a field "foo": "bar" to
biosample

On Thu, Dec 16, 2021 at 2:21 PM Sujay Patil ***@***.***>
wrote:

[2021-12-20 16:47] wdduncan commented on #220
@sujaypatil96 This may be related to #194
I have considered using unit test for validation rather than executing `make test-jsonschema`. Using unit tests may work better for negative tests.
Or it may be better to use the [test-jsonschema_invalid](https://github.com/microbiomedata/nmdc-schema/blob/8a528782313d667ff2261bcd61197478a6bdab40/Makefile#L210) target in the makefile.

However, these tests

[2021-12-21 19:28] #219 closed

[2021-12-22 22:58] wdduncan commented on #218
Still isn't fixed ... need to reopen.

[2021-12-23 20:58] wdduncan commented on #218
Images have been restored for [Metadata_Documentation_Overview/](https://microbiomedata.github.io/nmdc-schema/Metadata_Documentation_Overview/)

![image](https://user-images.githubusercontent.com/3186638/147290917-2fee7af7-0f38-41ae-b1a0-ad7b32790946.png)

[2021-12-23 20:58] #218 closed

[2022-01-06 18:41] #220 closed

[2022-01-06 19:06] sujaypatil96 opened #226 "Regex mismatch not picked up on if type is correct"
Look at one of the invalid test files that we try to validate in the [nmdc-schema](https://github.com/microbiomedata/nmdc-schema) repo, [biosample_mismatch_regex.json](https://github.com/microbiomedata/nmdc-schema/blob/main/test/data/invalid_schemas/biosample_mismatch_regex.json). Specifically look at [L#76](https://github.com/microbiomedata/nmdc-schema/blob/main/test/data/invalid_schemas/biosampl

[2022-01-07 23:28] turbomam opened #228 "'GOLD sample identifiers' description '[''identifiers for corresponding sample in GOLD'']' after gen-yaml"
[code]

Because the description is a list element in `src/schema/external_identifiers.yaml`?

[code]

[2022-01-07 23:35] turbomam opened #229 "'env_local_scale' description contains double quotes"
As in

      sample or specimenUs local vicinity and which you believe have significant causal
      influences on your sample or specimen. Please use terms that are present in
      ENVO and which are of smaller spatial grain than your entry for env_broad_scale.
      Format (one term): termLabel [termID]; Format (multiple terms): termLabel [termID]|termLabel
      [termID]|termLabel [termID]. Ex

[2022-01-07 23:45] turbomam opened #230 "problematic 'slot_url's and ''s from gen-yaml"
https://microbiomedata/schema/mixs/ph

[code]
- it seems like some LinkML tools can convert `https://microbiomedata/meta/identifier` to `nmdc:identifier` since the `nmdc` prefix is defined as `https://microbiomedata/meta/`. But I haven't seen `https://microbiomedata/schema` magically rendered in a prefixed  form.
- Also, these URLs don't resolve as web links

[2022-01-10 13:07] turbomam commented on #228
Also
- INSDC biosample identifiers
- INSDC secondary sample identifiers

[2022-01-10 13:09] turbomam opened #231 "GOLD Path term desciption still "TODO""
- ecosystem
- ecosystem_category
- ecosystem_subtype
- ecosystem_type
- specific_ecosystem

[2022-01-10 13:22] turbomam opened #232 "YAMLGenerator:Unrecognized prefix"
`poetry run gen-yaml nmdc-schema/src/schema/nmdc.yaml > target/nmdc_generated.yaml`

WARNING:YAMLGenerator:Unrecognized prefix: insdc.srs
WARNING:YAMLGenerator:Unrecognized prefix: mgnify
WARNING:YAMLGenerator:Unrecognized prefix: UniProtKB
WARNING:YAMLGenerator:Unrecognized prefix: gtpo
WARNING:YAMLGenerator:Unrecognized prefix: COG
WARNING:YAMLGenerator:Unrecognized prefix: MetaCyc
WARNING:YAMLG

[2022-01-10 13:37] turbomam opened #233 "'examples' from GOLD sample identifiers: https://identifiers.org/gold:GbTODO"

[2022-01-10 20:14] turbomam opened #234 "gen-yaml -> Unrecognized prefix"
Sorry, I may have already entered this elsewhere in this repo or somewhere else

`poetry run gen-yaml nmdc-schema/src/schema/nmdc.yaml > target/nmdc_generated.yaml`

WARNING:YAMLGenerator:Unrecognized prefix: insdc.srs
WARNING:YAMLGenerator:Unrecognized prefix: mgnify
WARNING:YAMLGenerator:Unrecognized prefix: UniProtKB
WARNING:YAMLGenerator:Unrecognized prefix: gtpo
WARNING:YAMLGenerator:Unrecogn

[2022-01-10 20:58] turbomam opened #235 "Discuss which NMDC biosample slots to use for NMDC DataHarmonizer"
https://docs.google.com/spreadsheets/d/1pSmxX6XGOxmoA7S7rKyj5OaEl3PmAl4jAOlROuNHrU0/edit#gid=1974870456

[2022-01-10 21:33] dehays opened #236 "add raw data type to file type enum for Yuri"
‘Direct Infusion FT ICR-MS Raw Data’ is not one of [‘FT ICR-MS Analysis Results’, ‘GC-MS Metabolomics Results’, ‘Metaproteomics Workflow Statistics’, ‘Protein Report’, ‘Peptide Report’, ‘Unfiltered Metaproteomics Results’, ‘Read Count and RPKM’, ‘QC non-rRNA R2’, ‘QC non-rRNA R1’, ‘Metagenome Bins’, ‘CheckM Statistics’, ‘GOTTCHA2 Krona Plot’, ‘Kraken2 Krona Plot’, ‘Centrifuge Krona Plot’, ‘Kraken2

[2022-01-10 21:35] dehays commented on #236
@corilo

If the name of this new type is: Direct Infusion FT ICR-MS Raw Data

What should the description be?

[2022-01-10 22:02] corilo commented on #236
21T Direct Infusion Broadband Raw Data

On Mon, Jan 10, 2022 at 1:35 PM David Hays ***@***.***> wrote:

[2022-01-11 19:02] turbomam commented on #229
in `src/schema/mixs.yaml`

if I fix this in that file, will it be overwritten by some Perl script @cmungall has spoken of?

[2022-01-11 19:13] turbomam commented on #229
I tried replacing `description: >-\s+"` with `description: "` but `pipenv run gen-yaml src/schema/nmdc.yaml` said

expected <block end>, but found '<scalar>'

because of double quotes in?

[code]

[2022-01-11 19:14] turbomam commented on #234
same as #232

[2022-01-11 19:14] #234 closed

[2022-01-11 19:19] turbomam commented on #233
Could we either enter a real example GOLD sample identifier, or remove the example and add a to-do?

[2022-01-11 19:19] turbomam commented on #233
in `src/schema/external_identifiers.yaml`

[code]

[2022-01-11 19:36] turbomam commented on #231
in `src/schema/nmdc.yaml`

[2022-01-11 20:48] cmungall commented on #233
can you go ahead make the PR @turbomam - this kind of thing shouldn't require a lot of discussion. Just use any valid gold id, e.g. gold:Gb0108335

[2022-01-12 19:06] cmungall commented on #231
You can also include see_also links to

 - https://gold.jgi.doe.gov/ecosystem_classification
 - https://pubmed.ncbi.nlm.nih.gov/20653767/

[2022-01-12 20:40] wdduncan commented on #236
@corilo Is it possible to be a bit more descriptive?
"21T Direct Infusion Broadband Raw Data" is a bit terse ...

[2022-01-14 22:25] turbomam opened #240 "provide linkml examples of gold paths"

[2022-01-14 22:26] turbomam commented on #240
follow-on form #239

[2022-01-14 23:37] #236 closed

[2022-01-18 22:15] wdduncan commented on #240
@turbomam PR https://github.com/microbiomedata/nmdc-schema/pull/239 has been merged. Can this issue be closed?

[2022-01-19 01:53] #216 closed

[2022-01-19 18:04] #194 closed

[2022-01-20 20:59] mslarae13 commented on #198
Alternative Names | Other names/titles associated with this project/dataset

Term that needs a schema definition update

[2022-01-26 01:21] dehays commented on #217
Added by changesheet

[2022-01-26 01:21] #217 closed

[2022-01-26 19:21] wdduncan commented on #198
- `Depth` in `mixs.yaml` now has description: Depth is defined as the vertical distance below local surface, e.g. For sediment or soil samples depth is measured from sediment or soil surface, respectively. Depth can be reported as an interval for subsurface samples
- `Latitude` and `Longitude` are not MIxS terms. Only `lat_lon` is. I can add them as slots to the schema, but it may give the impress

[2022-01-26 19:46] #198 closed

[2022-01-26 21:24] wdduncan opened #248 "deprecate type slot"
During the January release, we encountered problems due the `type` slot not have a value.

Kitware reads the values of the `type` slot when populating the the postgres tables. The `type` slot is also required for change sheets to work.

So, make the `type` slot required.

Also, create enums to constrain the range of the `type` slot.

cc @dehays @turbomam @sujaypatil96

[2022-01-26 21:34] wdduncan opened #249 "require part of slot for biosamples"
A biosample **should** be associated with a study (possibly more).
So, make the `part of` slot required for biosamples.

@dehays Thinking out loud: Do we want to maintain an enum list of studies in order to constrain the `part of` slot for biosamples?

cc @cmungall @turbomam @sujaypatil96

[2022-01-27 22:32] wdduncan opened #250 "remove stray omics_type slot"
In `nmdc.yaml`, there seems to be a stay `omics_type` slot that is not associated with any class:
[code]
This is not that same of the `omics type` slot that **is used** for `omics processing`:
[code]

cc @turbomam @sujaypatil96 @cmungall @dehays

[2022-01-27 23:59] wdduncan opened #251 "restrict range of omics type"
The current range of `omics type` is a `controlled term value`. However, we don't do any validation of the values.

Currently, the values used are:
[code]
Should we make these enums?

cc @dehays @cmungall @turbomam @SamuelPurvine @sujaypatil96

[2022-01-28 00:05] wdduncan commented on #248
Think about this a bit ... we could use the `pattern` attribute to constrain the values.

[2022-01-28 19:14] wdduncan commented on #229
I manually removed double quotes surrounding descriptions.

[2022-01-28 19:14] #229 closed

[2022-01-28 23:04] ssarrafan commented on #195
@wdduncan can we close this issue?  or should it go in the backlog?

[2022-01-29 18:15] wdduncan commented on #195
@ssarrafan can you move it to the next sprint? I'm working on it.

[2022-01-31 15:13] turbomam commented on #167
I know @mslarae13 has done a lot of work towards `Resolving this may require requesting new terms or requesting new package/slot associations from MIxS.` but I don't know if that could be considered complete.

I have completed all of my checkboxes except for routinely generating slot and enum set analyses (SNTC vs MIxS) and posting them somewhere memorable.

[2022-01-31 17:36] turbomam commented on #113
I won't be able to work on this before GSP

[2022-01-31 19:30] ssarrafan commented on #113
Thanks for the update @turbomam.  I can move it to March for now.

[2022-01-31 19:35] ssarrafan commented on #167
@turbomam would you like me to move this issue to February to do the remaining checkboxes?

[2022-02-02 21:15] turbomam opened #252 "short term: programmatically tag the origin of MIxS terms when imported into NMDC schema"
CC @cmungall @wdduncan

[Sample MIxS term in NMDC shema](https://github.com/microbiomedata/nmdc-schema/blob/b7e656664e39ec6d528c8a0ebd66636842bc6560/src/schema/mixs.yaml#L147-L159)

see also https://github.com/microbiomedata/nmdc-server/issues/555

especially the discussion of MIxS' lat_lon field

[2022-02-02 21:16] turbomam opened #253 "long term: retire perl code that routes MIxS terms into NMDC schema"
see also #252

[2022-02-02 21:18] turbomam commented on #253
Use mixs-source code. The most recently updated code is at https://github.com/turbomam/mixs-source, but that will be integrated into [https://github.com/GenomicsStandardsConsortium/mixs any day now.

[2022-02-02 21:19] turbomam commented on #252
CC @cmungall @wdduncan

see also ...

[2022-02-02 21:33] wdduncan commented on #248
Per meeting today:
We are not going to require slots, but we should create enums for the range of the `type` slot.

[2022-02-02 21:35] wdduncan commented on #249
Per meeting:
Yes. We are going to require the `part of` slot for `biosamples`.

[2022-02-02 21:42] turbomam commented on #252
Implement with `conforms_to` or `annotations`?

semantics too loose?
- in_subset
- see_also

probably not
- quick and dirty parse of slot_uri, from_schema, imported_from, exact_mappings etc.
- owner (deprecated)

[2022-02-02 21:46] turbomam opened #254 "MIxS overlay for DataHarmonizer AND Portal?"
In the 2022-02-02 Metadata meeting, we were talking about displaying alternative descriptions for the MIxS environmental triad terms in the Portal. @cmungall said that could be implemented as an overlay file.

To some degree that kind of this is already implemented in the [Soil-NMDC-Template_Compiled](https://docs.google.com/spreadsheets/d/1pSmxX6XGOxmoA7S7rKyj5OaEl3PmAl4jAOlROuNHrU0/edit#gid=1894

[2022-02-03 15:00] turbomam opened #255 "slot uris for gold path terms"

[2022-02-03 22:16] wdduncan commented on #255
What slot uris are you wanting to assign?

[2022-02-03 22:39] wdduncan commented on #235
tagging @mslarae13 in this ticket.

[2022-02-03 22:40] wdduncan commented on #252
tagging @mslarae13

[2022-02-03 23:48] #159 closed

[2022-02-03 23:57] #201 closed

[2022-02-03 23:59] wdduncan commented on #197
@ssarrafan @turbomam Should we leave this open or close it?

[2022-02-04 00:00] #171 closed

[2022-02-04 00:01] wdduncan commented on #200
@ssarrafan Should we close this?

[2022-02-04 00:04] wdduncan commented on #74
@turbomam I think @sujaypatil96 fixed this :)

Closing ticket. Reopen if needed.

[2022-02-04 00:04] #74 closed

[2022-02-04 00:44] cmungall commented on #252
I think in_subset is good

On Wed, Feb 2, 2022 at 1:42 PM Mark A. Miller ***@***.***>
wrote:

[2022-02-04 17:57] ssarrafan commented on #200
Hi Bill if it's done it would be great to close it.  Would you like me to close it?

[2022-02-04 17:58] ssarrafan commented on #197
@wdduncan Mark had suggested we add it to the backlog to be reprioritized. If we think it's done or not relevant I'm happy to close it.

[2022-02-04 18:13] turbomam commented on #197
This is somewhat intertwined with the issue of how MIxS content gets merged into the NMDC schema. I can't remember the issue for that off-hand

For a short term solution, we could move the specification for these columns into @mslarae13's [mixs_modified_slots](https://docs.google.com/spreadsheets/d/1pSmxX6XGOxmoA7S7rKyj5OaEl3PmAl4jAOlROuNHrU0/edit?pli=1#gid=770915920) tab

[2022-02-04 18:40] turbomam opened #256 "report of all human-readable annotations on all NMDC schema terms"
for @emileyfadrosh

[2022-02-04 18:54] wdduncan commented on #200
I don't know if we need this anymore. If not, then I suggest we close.

[2022-02-04 18:58] wdduncan commented on #197
Is `mixs_modified_slots` at `data harmonizer` thing, a `nmdc-schema` thing, or both? We should sort this out.

Merging `mixs` content into the `nmdc-schema` is straightforward:
- the `mixs.yaml` file is updated (either manually or programmatically)
- the updated `mixs.yaml` is then incorporated into the schema

[2022-02-07 14:27] #233 closed

[2022-02-07 20:32] wdduncan opened #258 "change range of started at time and ended at time to xsd:datetime"
Change range of the slots `started at time` and `ended at time` to xsd:datetime.

cc @dehays @turbomam

[2022-02-07 23:29] wdduncan opened #259 "update maintainers doc with info about versioning"
Since we have switched to semantic versioning, the `maintainers.md` doc needs to be updated with the new info.

[2022-02-08 00:42] #259 closed

[2022-02-09 18:56] wdduncan commented on #249
Close via https://github.com/microbiomedata/nmdc-schema/pull/261

[2022-02-09 18:56] #249 closed

[2022-02-09 18:56] wdduncan commented on #248
mistakenly closed

[2022-02-10 22:30] #258 closed

[2022-02-10 22:33] wdduncan opened #265 "add datetime to validation tool"
The range for `started at time` and `ended at time` has been changed to `datetime`. However, now functionality needed to be added to the `nmdc-validate` util to check datetimes.

cc @dehays

[2022-02-11 20:04] wdduncan commented on #248
After discussing this more with @dehays, we think it is best to deprecate the `type` slot. The reason is there is inconsistent usage and confusion about what the values should be.

Originally, the `type` slot was used to capture the information about the python class used to create the instance data. This allowed me to reference the type of python object that was used to create a JSON record.

Whe

[2022-02-15 18:56] Michal-Babins opened #266 "Missing file type enums in nmdc.yaml"
The following files do not have an entry with description in the enums:

[code]

For generating objects we are following the File Type and Descriptor to fill out the fields. The following entries are not present for annotation.

[2022-02-15 19:29] scanon commented on #266
In addition we will be adding at least two other new files.

product tsv
crispr output

Maybe @emileyfadrosh can suggest names for these.

[2022-02-17 21:25] turbomam opened #267 "add display hint annotations for study slots that appear on study submission portal"
@dehays
@subdavis
@cmungall

[2022-02-17 21:38] turbomam commented on #267
see
- https://docs.google.com/spreadsheets/d/1Y3RejJYT8JbIyyXysrDRwTef1lPq-twDZ9x_xDAL9zc/edit#gid=0 from @dehays
- https://github.com/microbiomedata/nmdc-schema/blob/main/jsonschema/nmdc.schema.json#L2766
- https://docs.google.com/spreadsheets/d/1T31B5gbRgS6vuK_lIg0ZLpIyafByWhlvE2hfcCy-c4k/edit#gid=0 from @mslarae13
- https://data.dev.microbiomedata.org/submission/study

Some of the text entry bo

[2022-02-22 17:17] wdduncan commented on #266
If possible, it is good to have short descriptions too.

[2022-02-23 19:38] sujaypatil96 opened #270 "Cannot find `get_nmdc_dict()` method definition"
When testing the `validate-nmdc-json` command line tool on the poetry [branch](https://github.com/microbiomedata/nmdc-schema/tree/spatil/poetrify-nmdc-schema), by running the following command:

[code]

I run into the following error:

[code]

Meaning the `get_nmdc_dict()` method hasn't been defined anywhere.

[2022-02-23 22:26] #248 closed

[2022-02-24 13:19] wdduncan commented on #270
The call should be made to [get_jsonschema_dict()](https://github.com/microbiomedata/nmdc-schema/blob/be944fba292d4763218541b9093a79ddacac41b9/util/nmdc_data.py#L92).
Thanks for catching this! I will fix.

[2022-02-24 13:32] #270 closed

[2022-02-25 09:10] sujaypatil96 opened #274 "Modify Makefile steps, Github Actions, source schema accordingly after poetry merge"
Once PR #263 has been merged into the nmdc-schema repo, the schema is ready to be distributed with poetry.

Some steps to be completed after the merge:

- [x] Update the Makefile to use poetry
- [ ] Remove Pipfile, Pipfile.lock, setup.py, requirements.txt
- [x] Update Github Actions to use poetry
- [ ] Update the nmdc-schema core package so that it contains the actual model itself, which can be de

[2022-02-28 18:52] ssarrafan commented on #167
@turbomam can this GH issue be closed at this time?  Or would you like to keep it open for March?

[2022-02-28 19:20] ssarrafan commented on #134
Per @wdduncan re-assigning to @sujaypatil96  and moving to the March sprint but please let me know if this is not a priority and we can move it to the backlog
FYI @cmungall @turbomam

Note from Bill:
HI Set. Here is an update:
https://github.com/microbiomedata/nmdc-schema/issues/134
This is an ongoing issue that will need to be passed on to Mark or Sujay (not sure which).
https://github.com/microb

[2022-02-28 19:23] ssarrafan commented on #195
Moving to March per @wdduncan who plans to close it by Friday (his last day!)

Note from Bill:
HI Set. Here is an update:
https://github.com/microbiomedata/nmdc-schema/issues/134
This is an ongoing issue that will need to be passed on to Mark or Sujay (not sure which).
https://github.com/microbiomedata/nmdc-runtime/issues/89
I updated the comment on this. I should be able to get the change sheet e

[2022-02-28 20:04] #265 closed

[2022-02-28 20:37] wdduncan opened #275 "add test for validating dates for started at/ended at time"
Need to add test to verify the regex for `started at time`/`ended at time` slots are working.

cc @sujaypatil96 @turbomam

[2022-03-01 18:11] ssarrafan opened #276 "working on code to routinely perform set analysis on the slots"

[2022-03-01 18:12] ssarrafan commented on #167
Created one more issue. Closing this one.

[2022-03-01 18:12] #167 closed

[2022-03-01 22:49] sujaypatil96 opened #278 "Update NMDC schema docs to use `gen-doc` instead of `gen-markdown`"
Currently, the nmdc schema docs are being built using the `gen-markdown` utility provided by linkml instead of the newer documentation utility `gen-doc`.

An example of documentation built by `gen-doc` is the MIxS docs: https://genomicsstandardsconsortium.github.io/mixs/

[2022-03-02 20:53] sujaypatil96 commented on #274
Check PRs #277 and #279.

[2022-03-04 09:19] #274 closed

[2022-03-15 17:31] turbomam opened #283 "nmdc-schema should support generation of DH interfaces from standardized terms in current standards like MIxS 6"
This has been described as "the schema should no include any copied instances from MIxS 5". I think that means that we should no longer import [src/schema/mixs.yaml](https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/mixs.yaml) into [src/schema/nmdc.yaml](https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/nmdc.yaml). I still don't understand the mechanism that gener

[2022-03-15 18:42] turbomam opened #284 "Generate sediment DH interface"
But don't repeat cheats from constructing the soil templates. Specifically, [use "exhaustion" dependency resolution](https://github.com/microbiomedata/sheets_and_friends/pull/80), instead of hard-coding an imported slot's recursive type, class or enum dependencies into nmdc-dh-sheets.

Sheets and friends will be getting larger. Might be helpful to replicate `all` metaterm that @mslarae13 had in [S

[2022-03-15 20:23] turbomam commented on #283
what is the driver for having MIxS slots annotated as "I came from MIxS"? How would that be used in the portal?

Might be available in from_slot anyway (and may not need new subset)

import the entire new huge MIxS 6? even for slots we might never use?

old NMDC mixs.ymal ~ 500 terms, slots only

those slots are manually added to the biosample class definition in XXX.yaml

ranges overridden with c

[2022-03-15 20:29] turbomam commented on #283
should sheets and friends get mixs knowledge from nmdc for DH, or should sheets and friends modify mixs for inclusion in nmdc schema itself?!

[2022-03-16 22:57] cmungall commented on #46
can we close this?

[2022-03-16 23:12] ssarrafan commented on #46
Is it done @cmungall?  We had removed it from a sprint because Bill didn't have time to work on it. Happy to close if it's done or not needed.

[2022-03-17 14:20] turbomam commented on #267
study.slot_usage.name.annotations.display_hint = "Provide a name for the study your samples will belong with."

same content was already in study.slot_usage.name.description

[2022-03-17 16:02] turbomam commented on #267
Should these be written with a preceding verb phrase like "Enter the width of you swimming pool" or just "width of you swimming pool"

We should be consistent

[2022-03-17 22:01] ssarrafan commented on #195
@cmungall @turbomam @dehays any idea if Bill finished this before he left?

[2022-03-24 14:50] turbomam opened #286 "person value subclasses for the sake of display hints"
[SubmissionPortal_TermUpdates](https://docs.google.com/spreadsheets/d/1T31B5gbRgS6vuK_lIg0ZLpIyafByWhlvE2hfcCy-c4k/edit#gid=0) indicates display hints are required for

- Contributor Full Name
- Contributor ORCiD
- Contributor Roles
- Principal Investigator Email
- Principal Investigator Name
- Principal Investigator ORCID

But there isn't any Principal Investigator or Contributor class in the NMD

[2022-03-24 17:57] turbomam opened #288 "Display hints requested for "NCBI BioProject Title" and "Data Types", but those aren't accessible from the study class"
See #267 and [SubmissionPortal_TermUpdates](https://docs.google.com/spreadsheets/d/1T31B5gbRgS6vuK_lIg0ZLpIyafByWhlvE2hfcCy-c4k/edit#gid=0&range=15:17)

I have [added display hint annotations to the NMDC schema](https://github.com/microbiomedata/nmdc-schema/pull/287) for most of the rows in the `SubmissionPortal_TermUpdates` sheet. In those cases, I have provided jq paths to the hints.

However, I

[2022-03-25 21:09] turbomam commented on #288
rather hinting about how to enter something, not hinting on how to display it

tooltips

[2022-03-25 21:11] turbomam commented on #288
could column A or B be an actual DOM path? or anything verifiable?

[2022-03-25 21:23] turbomam commented on #288
why are different tooltips for PI and Contrib ORCiD

box around PI fields?

then could have tooltip on principal investigator slot

[2022-03-28 18:19] turbomam commented on #267
we're hinting about how to enter something, not hinting on how to display it

tooltips **for data entry**

[2022-03-28 18:20] turbomam commented on #267
Could we put actual DOM paths into column A or B in [SubmissionPortal_TermUpdates](https://docs.google.com/spreadsheets/d/1T31B5gbRgS6vuK_lIg0ZLpIyafByWhlvE2hfcCy-c4k/edit#gid=0&range=15:17)? Or anything else that's verifiable?

[2022-03-28 18:20] turbomam commented on #286
_These notes aren't really about this issue. Move to another existing issue?_

 why are there different tooltips for PI and Contrib ORCiD etc. ... couldn't we just use person value's slots in both places on the study submission pages?

box around PI fields could give a sense of encapsulation?

or could have tooltip on principal investigator **slot**

we don't have any instances of principal invest

[2022-03-29 17:11] turbomam opened #289 "display hints without gratuitous subclasses"
See #286

[2022-03-29 17:28] turbomam commented on #289
mentioning @mslarae13 so she can monitor this when I start working on it

[2022-03-29 23:44] turbomam opened #291 "mixs as a submodule"
for moving away from the old static-ish MIxS 5 [mixs.yaml](https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/mixs.yaml)

MIxS isn't available through w3id yet, and the LinkML YAML files aren't bundled with the PyPI package yet:

[code]

Version: 0.1.1
Summary: A LinkML (https://linkml.io/) model of the MIxS standard (https://gensc.org/mixs/)
Home-page:
Author: GSC
Author-email:
Li

[2022-03-30 00:21] turbomam commented on #291
- _16s_recover
- _16s_recover_software
- bin name
- bin quality
- chem_treatment_method
- completeness
- contamination
- env_package
- extreme_salinity
- gene count
- gtdbtk class
- gtdbtk domain
- gtdbtk family
- gtdbtk genus
- gtdbtk order
- gtdbtk phylum
- gtdbtk species
- health_disease_stat
- heat_system_deliv_meth
- host_blood_press_diast
- host_blood_press_syst
- ihmc_ethnicity
- investigat

[2022-03-30 13:01] turbomam opened #293 "`omics type` vs `omics_type` slots"

[2022-03-30 17:38] ssarrafan opened #294 "Transform EMP study & biosample records from GOLD API for ingest"
Description: The GOLD team is working to import the relevant set of soil metagenome and amplicon data from the EMP500 study hosted at NCBI (https://www.ncbi.nlm.nih.gov/bioproject/PRJEB42019). A list of biosamples was sent to the GOLD team on March 21. GOLD currently hosts the study information here: https://gold.jgi.doe.gov/study?id=Gs0154244 -- Reddy will notify us via email when the data is ava

[2022-03-30 17:39] turbomam commented on #294
Should I continue with https://github.com/microbiomedata/nmdc-emp500 ?

[2022-03-30 17:41] ssarrafan commented on #294
@emileyfadrosh @dwinston tagging you since you're mentioned in this ticket

[2022-03-30 21:29] dwinston commented on #294
@sujaypatil96 info on API endpoint for validating metadata: https://api.dev.microbiomedata.org/docs#/metadata/validate_json_metadata_json_validate_post

[2022-03-30 21:43] cmungall commented on #294
we'll use this:

https://github.com/microbiomedata/sample-annotator/blob/main/sample_annotator/clients/gold_client.py

example code:

https://github.com/microbiomedata/sample-annotator/blob/main/tests/test_gold.py

[2022-03-30 22:29] ssarrafan commented on #195
Done per @sujaypatil96
Closing issue

[2022-03-30 22:29] #195 closed

[2022-03-30 22:33] sujaypatil96 commented on #195
We now have contents in the nmdc_schema directory that is referenced in the ticket body. See here: https://github.com/microbiomedata/nmdc-schema/tree/main/nmdc_schema

Poetry also tags this directory and its contents to be included in the package to be deployed to PyPI: https://github.com/microbiomedata/nmdc-schema/blob/main/pyproject.toml#L27-L29. The package has been imported in a Python environ

[2022-03-31 01:16] mslarae13 commented on #284
I do not think we should include EMSL and JGI terms for the packages that we have not "curated" I say this because they will not match what I have done for EMSL.

@emileyfadrosh  thoughts?

[2022-03-31 14:31] turbomam commented on #284
Thanks. I agree.

**The sediment interface is done**, [along with the other 10 interfaces that were requested](https://docs.google.com/document/d/1W0Nd-nGLEUbJ8KAPEZO5M1JNYGbvFbgFdaSwlkpnajI/edit#bookmark=id.3tji971lfj37), plus [built environment](https://docs.google.com/spreadsheets/d/1cMlPKgjZh-v21aMYCm9x1TxzE5BwGQptBQcvuaYAtC8/edit#gid=1963017587)

- The modeling is in [nmdc-dh-sheets-mam-non-a

[2022-03-31 15:37] turbomam commented on #254
Yeah, it think it is. I think of it as being more nmdc_schema related than sheets_and_freinds related. Although it does address the fact that any modifications you've made in a Google Sheet (to configure a DataHarmonizer) could be reflected in the nmdc-schema. I'll be addressing this as part of the move from the static MIxS 5 import to a dynamic MIxS import.

[2022-03-31 15:58] turbomam commented on #286
I think the main take home from this issue is that you had suggested different tooltips for a PI's name and ORCiD, compared to a Contributor's name and ORCiD. Our current solution uses the same tooltip for those slots no matter the context. See my [suggested revision](https://docs.google.com/spreadsheets/d/1T31B5gbRgS6vuK_lIg0ZLpIyafByWhlvE2hfcCy-c4k/edit#gid=0&range=C:C) column in the SubmissionP

[2022-03-31 16:38] ssarrafan commented on #284
I'm closing this issue per @turbomam because the sediment is done. Mark would like  @emileyfadrosh @mslarae13 @cmungall @sujaypatil96 to please review the comments.

[2022-03-31 16:38] #284 closed

[2022-03-31 16:41] ssarrafan commented on #283
Moving this to April per @turbomam
@dehays @cmungall @emileyfadrosh can you respond to Mark's last comment above?

[2022-03-31 16:43] ssarrafan commented on #113
@turbomam said to continue this for April

[2022-03-31 16:44] emileyfadrosh commented on #284
Thanks @turbomam ! This looks great, and agree with all the next steps. Probably several new tickets need to be generated for all the to-do items :) We should prioritize the environmental triad processing, and then @mslarae13 we should talk about EMSL curation for the other packages.

Nice work!

[2022-03-31 16:48] emileyfadrosh commented on #283
Sorry, I am not following the nuances here -- I think @cmungall needs to weigh in. I think from my naive perspective, I would like to have the NMDC schema & DH templates aligned with MIxS v6, yet also include curation updates from @mslarae13 where there are updates needed that haven't been added to v6 yet. We discussed this briefly how NMDC would serve as an intermediate between the current MIxS v

[2022-03-31 21:22] ssarrafan commented on #288
I'm going to move this one to April as it appears to be in process.  I will remove @mslarae13 as an assignee.

[2022-04-01 00:12] mslarae13 commented on #254
Sounds great! Let me know if you need anything from me. But I do agree. The updates and added terms will result in schema updates

[2022-04-01 19:18] ssarrafan commented on #134
Removing from sprint and adding backlog label per @sujaypatil96

[2022-04-06 22:00] turbomam commented on #294
These fields are available to populate in the NMDC mongodb bisoample_set collection. Some mapping to GOLD fields names may be required.

- add_date
- alternative_identifiers
- collection_date
- community
- depth.has_numeric_value
- depth
- depth.has_unit
- depth2.has_numeric_value
- depth2
- depth2.has_unit
- description
- ecosystem
- ecosystem_category
- ecosystem_subtype
- ecosystem_type
- env_b

[2022-04-08 15:26] turbomam commented on #291
But these are the only lost MIxS slots that the current nmdc-schema associates with biosamples:
`['env_package', 'tot_nitro_content_meth', 'water_content_soil_meth']`

And none of those even appear in the mongodb biosample_set

[2022-04-08 15:53] turbomam commented on #291
Here's a starting point for discussing a new MIxS 6 dynamic import into the nmdc-schema:

[`src/schema/mixs_6_for_nmdc.yaml`, in the `issue-291-mixs-submod` branch](https://github.com/microbiomedata/nmdc-schema/blob/issue-291-mixs-submod/src/schema/mixs_6_for_nmdc.yaml)

Filenames, schema names and IDs etc can all be changed.

Is this sufficient for declaring that a slot comes from MIxS?

[code]

[2022-04-11 16:13] turbomam commented on #283
After some reflection and discussion, I would say that this issue is a little vague and may even combine tasks that are more schema related or are more DH-related. But it's a good issue because it emphasizes that the overall NMDC schema and the DH-specific schema shouldn't conflict with one another, and if they do, it should be documented in the schams.

Also, as the issue title says, none of this

[2022-04-11 16:24] turbomam commented on #113
I thought DataGood might get to this, but I think that's less likely now.

I have started this related https://github.com/microbiomedata/sample-annotator/pull/65 which should be applciable to the FAO class cleanup but not necessarily the predction part.

Actually, that PR will be a general refactoring of all of my previous work on string to term lookups with BioPortal and OLS.

[2022-04-14 13:33] turbomam commented on #291
get rid of empty examples etc.

[2022-04-14 13:34] turbomam commented on #291
compare ranges between old MIxS 5 and new MIxS 6 files, especially looking for things like quantity value

deepdiff?

[2022-04-14 13:37] turbomam commented on #291
funny looking `wall_texture_enum` PVs

[2022-04-14 14:00] turbomam commented on #291
`env_package` from MIxS 5-based `src/schema/mixs.yaml` sure looks like an enum

[code]

[2022-04-14 14:03] turbomam commented on #291
`nmdc-schema` namespaces, prefixes etc are a mess. element URLs are unsolvable.

`from_schema` for `env_package` from (MIxS 5-based) `src/schema/mixs.yaml`: `https://microbiomedata/schema/mixs`

[2022-04-14 15:01] turbomam opened #298 "MIxS 5 vs 6 difference patterns"
See
- https://github.com/microbiomedata/nmdc-schema/blob/issue-291-mixs-submod/reports/slot_diffs.yaml
- https://github.com/microbiomedata/nmdc-schema/blob/issue-291-mixs-submod/reports/slot_annotations_diffs.tsv

from https://github.com/microbiomedata/nmdc-schema/blob/issue-291-mixs-submod/util/mixs_deep_diff.py

[2022-04-14 17:49] turbomam commented on #298
https://github.com/microbiomedata/nmdc-schema/blob/issue-291-mixs-submod/reports/attribute_diffs.tsv

[2022-04-14 18:36] turbomam opened #299 "consequences of changing MIxS import"
@turbomam has created a new mixs 6 LinkML file but it had not been imported into the nmdc schema yet

How do we test for downstream consequences?

- [ ] appearance of descriptions in portal.. sometime completely override, like env broad scale?
- [ ] do we retain an understanding of which slots go with which environments?
- [ ] highlight most changed descriptions

[2022-04-14 18:44] turbomam commented on #299
For example, just switched a import statement in `nmdc.yaml` from `mixs` to `mixs_6_for_nmdc` and ran `make all`

and got

Sure enough, `horizon` isn't in  `mixs_6_for_nmdc.yaml`.  How did that slip out?

[2022-04-14 18:45] turbomam commented on #299
see also #298

see also #291

[2022-04-14 19:17] pvangay commented on #299
Need to also check if updates in descriptions in the schema are automatically pulled into the portal (or if we need to coordinate with Kitware).

How does this affect the DH interface? (are those descriptions / formats / terms already V6 compliant?)

At what point does all of the NMDC metadata get validated for compliance with the new V6 schema? (How are metadata changes made -- changesheets? some

[2022-04-19 17:51] turbomam commented on #113
@ssarrafan: this will not be complete in time for April 22nd release

[2022-04-22 19:51] turbomam commented on #288
@dehays provided some useful feedback about other classes that could receive this information, esp. 'Data Types'. Omics processing?

- [ ] I don't think we should add a display hint for 'NCBI BioProject Title' or even include that on the study submission pages at all. It should be looked up in NCBI based on the BioProject ID/accession (which should also be verified

I have also started to think of

[2022-04-22 19:51] turbomam commented on #288
I don't expect to close this before April 28th or possible even the month's end.

[2022-04-22 21:04] ssarrafan commented on #288
would you like me to move this to May or put it back in the backlog?  @turbomam

[2022-04-25 17:47] turbomam opened #300 "Continue discussion from #283 ...generation of DH interfaces...current standards like MIxS 6..."
I am closing #283 since https://github.com/microbiomedata/nmdc-schema/pull/292 provides a mechanism for dynamically importing and potentially overlaying MIxS 6 into the NMDC schema.

The discussion brought up soem other issues including:
- dynamic integration of terms from other LinkML schemas (beyond MIxS)
- best practices for integrating LinkML schemas over w3ids, other URLs, git submodules or l

[2022-04-25 17:48] #283 closed

[2022-04-26 16:29] mslarae13 opened #301 "Multiple PIs"
Update schema to allow for multiple PIs.

See EMP500

@pvangay , @dehays

[2022-04-26 22:08] ssarrafan commented on #294
@sujaypatil96 do you have any updates on this issue?  I am trying to close out the sprint on time since I'll be off next week.  Thanks for your help.

[2022-04-28 18:48] ssarrafan commented on #294
I'm considering this issue closed. @sujaypatil96 you can re-open if you disagree. Thank you

[2022-04-28 18:48] #294 closed

[2022-04-29 18:26] ssarrafan commented on #113
@turbomam will remove this from this sprint and add the backlog label. Let me know if you prefer to move this to May.

[2022-04-29 18:27] ssarrafan commented on #288
@turbomam I will move this to May but if it should go in the backlog let me know and we can remove it from the May sprint

[2022-04-29 20:53] dehays commented on #293
Mark - for my own edification - aren't those equivalent in LinkML?

[2022-04-29 21:03] turbomam commented on #293
Yes, LinkML does do some silent case conversions. I think I saw both of these in the same model file. I will elaborate or close. Thanks.

[2022-05-02 20:53] cmungall opened #302 "Derive the postgresql schema more directly from the NMDC schema"
Note: this is currently more of a discussion than a specific piece of work with a short term deliverable. This is something that we will likely have to do in the renewal.

The overall goal here is to have a single SOT, avoid implicit manual translations between different representations e.g. mongo and RDBMSs, and to be more agile - for example, we want to be able to add new sample fields to the sc

[2022-05-03 13:00] jeffbaumes commented on #302
I like where this thought process is going to help figure out normalization across NMDC tools, thanks @cmungall.

I do think that a performant and intuitive portal could be in conflict with this goal, as you state with denormalizations and special cases etc. Translating a complex interlocking schema into the correct database joins and indices that were needed to get the portal functioning as it is

[2022-05-04 00:48] cmungall opened #304 "document has_calibration in metabolomics analysis activity"
I'm comparing our schema to mzML, we have

[code]

what goes in the calibration field?

currently the range of this field is the default range (string) - but it looks like it should be a non-inlined reference to another object?

Example data from API:

[code]

But we don't seem to have emsl:output_646437 in the database?

[2022-05-06 16:00] turbomam opened #305 "Docs to update prior to next release"
- CHANGELOG.md
  - Latest commit [58c2761](https://github.com/microbiomedata/nmdc-schema/commit/58c27614376fc7b365744a4142b5fd669d3a5238) on Feb 25
- README.md

Also read through  MAINTAINERS.md

[2022-05-06 16:02] turbomam opened #306 "Remove pipenv related files?"
- Pipfile
- Pipfile.lock
- environment.sh
- requirements.txt
- setup.py

Also read through Makefile

[2022-05-06 16:09] turbomam commented on #305
_Last two entries in CHANGELOG.md_

----

# Change Log
Changes to the schema are documented in this file.

## Current (updates before releasing)
### Added
  - regex for checking datetime values for `started at time` and `ended at time`
### Fixed
  - N/A
### Changed
  - deprecated `type` slot (#248); due to confusion about what values are used for this slot, it is best not to use this slot.
### Rem

[2022-05-06 16:10] turbomam commented on #305
[code]

says

[code]

[2022-05-06 16:19] turbomam commented on #306
see branch issue-306-no-pipenv

[2022-05-06 16:29] turbomam commented on #306
[code]

----

[code]

.github/workflows/build-deploy-documentation.yaml:        uses: snok/install-poetry@v1.3
.github/workflows/build-deploy-documentation.yaml:        id: cached-poetry-dependencies
.github/workflows/build-deploy-documentation.yaml:          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
.github/workflows/build-deploy-documentation.yaml:        if: steps.cached-poe

[2022-05-13 12:12] #306 closed

[2022-05-13 12:14] turbomam commented on #305
Confirmed with @sujaypatil96 that we now consider the auto-generated release notes sufficient and will cease using the CHANGELOG.md

[2022-05-13 12:28] #291 closed

[2022-05-13 12:33] turbomam commented on #305
- Add comment to CHANGELOG.md indicating that it is deprecated
- add note to README.md about regenerating poetry lock file?
  - to replace "A Pipfile.lock is include in the repository, but you can rebuild the lock file by executing `pipenv install -d`." below the dependencies section
- update MAINTAINERS.md

[2022-05-13 12:50] turbomam opened #308 "move mixs legacy and new LinkML file to assets dir and regenerate"

[2022-05-13 15:15] sujaypatil96 commented on #306
Looks like the setup.py file is still in the core repo?

[2022-05-19 14:49] turbomam opened #309 "What NMDC resources depend on the nmdc-schema?"
When changes are made to the nmdc-schema, what systems could be broken?

[2022-05-19 14:50] turbomam opened #310 "What would it mean for the nmdc-schema to be fully compliant with the latest version of MIxS?"

[2022-05-19 15:16] turbomam opened #311 "Model Stan's Bioscales elements/nutrients terms here"
Were originally requested in MIxS: https://github.com/GenomicsStandardsConsortium/mixs/issues?q=is%3Aissue+author%3AStantonMartin

Some have been implemented in MIxS already. Questions remain for the others.

[Copy of GA lab Data 11_17_2020 (1).xlsx](https://github.com/microbiomedata/nmdc-schema/files/8730598/Copy.of.GA.lab.Data.11_17_2020.1.xlsx) illustrates some additional new terms required for

[2022-05-19 15:19] turbomam opened #312 "Where do NMDC DataHarmonizer submissions go once the SUBMIT button is clicked?"

[2022-05-19 15:20] turbomam opened #313 "How will repair of NMDC DataHarmonizer submissions be triggered?"

[2022-05-19 18:06] turbomam commented on #312
Thanks. How can I retrieve them?

[2022-05-19 18:16] dwinston commented on #312
Oh, hmm, I interpreted this issue as one of proposed implementation. i.e. "where *may* NMDC DataHarmonizer submissions go?" I do not know where they currently go. @subdavis would know (you could also spelunk in the nmdc-server repo code).

[2022-05-19 19:26] dehays commented on #312
They get saved in postgres in the submission_metadata table as unconstrained json on the metadata_submission field which is postgres jsonb. (like a JSON CLOB type).

That table also has author_orcid, created, and status fields.

[2022-05-19 19:29] turbomam commented on #312
OK, then I'm going to want read access on NMDC Postgres, and all of the SPIN middleware or whatever

[2022-05-19 19:40] dehays commented on #312
@turbomam Rather than running a shell within a container in Spin/Rancher - would suggest you might use the API endpoints that Kitware provided.  Specifically: https://data.dev.microbiomedata.org/docs in the metadata_submission section.

[2022-05-19 19:56] subdavis commented on #312
You can get the submissions from here: https://data.dev.microbiomedata.org/docs#/metadata_submission/list_submissions_api_metadata_submission_get

[2022-05-19 20:00] turbomam commented on #312
Do in need credentials for this?

[2022-05-19 20:34] subdavis commented on #312
You need to be authenticated with your Orcid on https://data.microbiomedata.org/ (or dev)

A bit more documentation here: https://github.com/microbiomedata/nmdc-server/wiki/Search-API-Docs

[2022-05-19 21:02] turbomam commented on #312
Great. That does work in the browser. I don't see how to authenticate and use the API programmatically yet, but I ahven't read the documentation links you've shared meticulously.

[2022-05-20 18:00] turbomam opened #314 "w3id planning"
https://raw.githubusercontent.com/microbiomedata/nmdc-schema/main/src/schema/nmdc.yaml

says

nmdc: https://microbiomedata/meta/

https://github.com/perma-id/w3id.org/blob/master/nmdc/.htaccess

says

RewriteRule ^(.*) https://github.com/microbiomedata/ [R=307,L]

want

nmdc:nmdc.yaml -> https://raw.githubusercontent.com/microbiomedata/nmdc-schema/main/src/schema/nmdc.yaml

[2022-05-20 18:07] turbomam opened #315 "metaT activity terms vs metaG activity terms"
- assembly
- annotation
- ? analysis
- shared readQC

container?

[2022-05-20 18:18] turbomam commented on #315
Pattern: metatranscriptome readQC is part of a metatranscriptome activity? container?

might have different QC in the future

dataset is either metaT or metaG to start, no multiplexing
run identical workflow
output looks the same

output = filtered reads with some reports

@scanon : model both separately

was_informed_by

will require some metaG readqc remodeling (highlight the unique context)

re

[2022-05-20 18:19] turbomam commented on #315
see #134

[2022-05-20 18:21] turbomam commented on #315
metagenome analysis activity

metatranscriptome analysis activity

[2022-05-20 18:30] scanon commented on #315
Also fix names that are activity objects but down end with "Activity".  So MetagenomeAssembly and MetatranscriptomeAssembly.

[2022-05-20 18:31] turbomam commented on #315
"omics processing": wet stuff and instrument stuff

code that depends on the names of these terms can be found in nmdc-server

[2022-05-20 18:33] turbomam commented on #315
create mongo collection of reduced results (in Postgres)?

[2022-05-20 18:34] turbomam commented on #315
remember importance of functional search over metaT results

[2022-05-23 17:07] ssarrafan commented on #288
Moving to June sprint per @turbomam on stand up

[2022-05-23 17:13] turbomam opened #316 "nmdc-schema doesn't know about the compatibility of GOLD path elements"
@pkalita-lbl has modifications to DataHarmonizer that make the more specific GOLD path elements dependent on the more general ones. It also resets the more specific ones if a more general one is changed.

implementation with enums vs strings?

source of the GOLD path knowledge?

[2022-05-23 17:15] turbomam commented on #316
should we start with some environment-specific filter?

[2022-05-23 17:21] turbomam commented on #316
merge into DH?

[2022-05-23 17:21] turbomam commented on #316
Some of the data and code are NMDC-specific... integrate with sheets and friends?

[2022-05-23 18:10] ssarrafan commented on #278
@sujaypatil96 what is the status of this issue?  Are you still actively working on it? Do you expect to finish this week?

@turbomam FYI

[2022-05-24 19:31] turbomam opened #317 "integrate non-mixs classes from the NMDC DH schema"
- EMSL
- JGI *
- MIxS inspired

[2022-05-24 19:32] turbomam commented on #317
https://github.com/microbiomedata/nmdc-schema/tree/issue-317-dh-non-mixs

[2022-05-24 21:07] ssarrafan opened #318 "Identify strategy to support missing fields in the Submission Portal"
During GSP workshop, several users wanted to know what to do when required fields are not available / missing / confidential.

User need - Medium
Feasibility - unknown

Implement Missing Fields values ([discussed before](https://github.com/GenomicsStandardsConsortium/mixs/issues/324))

Requires broader discussion. @turbomam stated that supporting missing fields is problematic for non-text fields.

[2022-05-25 17:35] turbomam commented on #311
[carbon terms for Bioscales (plus errors) #7](https://github.com/microbiomedata/mixs/issues/7)

[2022-05-26 17:15] ssarrafan commented on #311
@turbomam reported this morning that this issue is done. Closing issue.

[2022-05-26 17:15] #311 closed

[2022-05-26 18:24] turbomam opened #321 "Create `nmdc-schema` ecosystem/consumers diagram and add it to `README.md`"
Add a mermaid diagram to the readme

[2022-05-31 23:31] ssarrafan commented on #278
@sujaypatil96 moving this to the backlog. Let me know if it should be assigned to someone else.
FYI @cmungall

[2022-06-01 20:13] turbomam opened #323 "lbc slot names are too biref"

[2022-06-01 20:14] turbomam opened #324 "be consistent with underscore, hyphens and whitespace in element names"

[2022-06-01 20:16] turbomam opened #325 "be consistent with slot ranges"

[2022-06-01 20:19] turbomam opened #326 "map bioscales type sots to chebi etc"
would go in mixs 7

[2022-06-01 20:29] turbomam opened #327 "bioscales field followup"
include all soil fields in the bioscales template AND propagate the bioscales fields back to the soil tempalte AFTER review (preferably propagating into mixs)

[2022-06-01 21:14] turbomam opened #328 "create a user submitted ID field"
The user submitted ID field could follow the spirit of other external ID fields like INDC identifier(s?)

The existing id field, inherited from named thing, should be populated with IDs minted by https://api.dev.microbiomedata.org/docs#/identifiers

[2022-06-03 18:44] sujaypatil96 opened #329 "Integrate `materialize_patterns()` functionality into NMDC repo"
`materialize_patterns()` method has been added to core linkml now: https://github.com/linkml/linkml/blob/main/linkml/utils/pattern.py#L7

Once the next linkml release has been made we can start using this method. We need to figure out how to leverage this functionality using sheets_and_friends.

CC: @turbomam

[2022-06-03 20:27] mslarae13 opened #330 "Update and improve identifiers"
Identifiers, GUIDs, sample names, alternative IDs,

The use of these fields and their definitions needs re-worked with possible addition of new terms.

- [x] #369
- [x] #370
- [x] #371

[2022-06-06 12:23] turbomam commented on #330
See [NMDC Biosample Slots selected cols](https://docs.google.com/spreadsheets/d/1eJAa-FExSls3YZrsVVA2NjDIGRm68FsEh00ma8rgbyw/edit#gid=916732144). Will provide more documentation soon.

[2022-06-06 12:24] turbomam opened #331 "Low number of EMP 500 sample in data portal"
@cmungall and I looked at for EMP 500 samples in the data portal on Friday. We [found 80](https://data.dev.microbiomedata.org/?q=ChgIABABGAMiECJnb2xkOkdzMDE1NDI0NCIKFAgAEAIYAiIMIk1ldGFnZW5vbWUi).

NCBI Biosample says that there are [1024 samples.](https://www.ncbi.nlm.nih.gov/bioproject/686344)

I am not an expert on the EMP studies, but this did seem like a big discrepancy to me.

I think I have

[2022-06-06 13:06] turbomam commented on #331
This should probably be moved to a different repo

[2022-06-06 13:08] turbomam opened #332 "Harmonize Kitware's user model and the schema's analogous terms"
I will elaborate later today

CC @cmungall @emileyfadrosh @jeffbaumes

This was about aligning the nmdc-schema

[2022-06-06 13:09] turbomam opened #333 "Model relationship between semantic ID shoulder and entity type in schema"
I will elaborate later today

CC @cmungall @emileyfadrosh @dwinston @mslarae13

[2022-06-06 13:13] turbomam opened #334 "Biosample links to Qiita"
The biosample class in the NMDC schema includes a variety of slots for capturing web-resolvable identifiers such as those from GOLD and INSDC.

Several of those identifiers are already materialized as links on the data portal

@emileyfadrosh asked if we could add links to biosamples on the Qiita site, especially for the EMP 500 samples.

@cmungall and I looked into that on Friday and did not see a

[2022-06-06 13:16] turbomam commented on #334
If we did find find Qiita per-sample pages, we would have to determine if they are parameterized with some IDs that we already have in mongodb. For example, if there's soemthing like a Qiita ID, we would either need to add that to the schema, or we would need to find a way to convert between the Qiita ID and soemthing we already do have for the biosamples.

[2022-06-06 13:54] turbomam commented on #328
https://api.dev.microbiomedata.org/docs#/identifiers

[2022-06-06 17:08] turbomam commented on #331
@sujaypatil96 remembers @dehays saying that there were only 80 *soil* samples

[2022-06-06 17:43] sujaypatil96 commented on #331
The ETL pipeline only pulled out data for the 80 soil samples from the EMP500 study that are in the GOLD database. To see a list of the 80 samples: https://github.com/microbiomedata/sample-annotator/blob/main/sample_annotator/clients/nmdc/input/soil_ids.txt

[2022-06-06 19:46] turbomam opened #336 "add the bioscales template itself (not it's slots) to nmdc.yaml"
possible through an import statement

will require some dependent terms

[2022-06-06 19:51] turbomam opened #337 "experiment with collecting some new terms from schema_sheets"
actually, why do they even have to be new terms?

What would a NMDC schema sheet look like?

Be sure to plan for round-tripping

[2022-06-06 20:20] turbomam opened #338 "move forward with structured pattern opportunity"
- @turbomam: document the string_serializations _erroneously_ used in the nmdc-schema, though imports from NMDC
- then move those into structured_patterns
- create setting and assign regular expression fragments
- figure out when to execute gen-linkml

[2022-06-06 20:21] turbomam commented on #338
related to #329

[2022-06-06 21:21] turbomam opened #339 "NMDC documents should refer to NMDC schema terms by their names or their titles"
Shared documentation and even informal communication between NMDC team members should refer to NMDC schema terms by their `name`s or their `title`s

When team members have been referring to terms by something else (because the something else may be memorable or informative), that something else could be added to the term's `aliases`, or to the descriptive annotations on that term.

Consider the MI

[2022-06-06 21:33] turbomam commented on #336
@cmungall and @mslarae13 :

[2022-06-06 21:55] turbomam commented on #336
Oops, I created a `bioscales` class (`is_a: dh_interface`) and a `Bioscales` class (`is_a: dh_section`)

I'll have to fix that. Any suggestions?

[2022-06-06 23:08] emileyfadrosh commented on #334
Correct, there are no per-sample pages on Qiita, just the study page: https://qiita.ucsd.edu/study/description/13114

@turbomam @cmungall would it make sense/be possible to add that as part of the study? thanks!

[2022-06-07 13:05] turbomam commented on #334
Thanks, @emileyfadrosh

When I enter https://qiita.ucsd.edu/study/description/13114 into Chrome, I am sent directly to the Qiita home page:

Qiita (canonically pronounced cheetah) is an entirely open-source microbial study management platform...

[2022-06-07 13:06] turbomam commented on #334
^ maybe because I'm not logged in!

[2022-06-07 13:17] turbomam commented on #334
note to self: remember to log into Qiita!

[2022-06-07 23:04] turbomam opened #341 "source annotations of Bioscales terms breaks DataHarmonizer"
DataHarmonizer assumes that any term with a `.source` attribute should be validated as an enumeration aka select list.

See https://github.com/cidgoh/DataHarmonizer/blob/linkml-datastructure/script/data-harmonizer/validation.js#L44 (thanks @pkalita-lbl and Damion Dooley)

Maybe that line could be changed to check `field.flatVocabulary`?

In the mean time, `source: https://www.ornl.gov/content/bio-

[2022-06-07 23:08] turbomam opened #343 "bioscales dh_template and Bioscales dh_section"

[2022-06-07 23:09] #341 closed

[2022-06-09 19:53] turbomam opened #344 "biosample class definitions are so large that YUML URIs are rejected"
https://microbiomedata.github.io/nmdc-schema/Biosample/#class-biosample is trying to generate a YUML diagram from this URL:

https://yuml.me/diagram/nofunky;dir:TB/class/[TimestampValue],[TextValue],[QuantityValue],[OmicsProcessing],[NamedThing],[GeolocationValue],[Database],[ControlledTermValue],[BiosampleProcessing],[QuantityValue]%3Clbceq%200..1-++[Biosample|type:string%20%3F;tot_nitro_cont_met

[2022-06-09 19:54] turbomam commented on #278
Keep all of the existing content like YUML diagrams

[2022-06-09 19:55] turbomam commented on #278
Be careful about the search experience

[2022-06-14 14:54] turbomam opened #345 "instantiated but un-validateable /un-convertible credit associations"
I can't validate studies with credit associations unless `has_credit_associations` is change from `inlined` to `inlined_as_list`

[2022-06-15 15:38] turbomam opened #347 "low hanging build/load error messages"
## Patterns

- [ ] INFO:root:class "chemical entity" slot "chemical formula" does not reference an existing slot.  New slot was created.
- [x] INFO:root:Default_range not specified. Default set to 'string'
- [x] Unrecognized prefix: COG
- [x] WARNING:root:File "<file>", someline/somecol: Prefix case mismatch - supplied: MIXS expected: mixs
- [ ] WARNING:root:No namespace defined for URI: https://m

[2022-06-15 15:46] turbomam commented on #347
## Verbose

[code]

[2022-06-15 16:23] turbomam opened #348 "Do some of the PyPI publishing GH action still use pip, not poetry?"
I thought I saw some usages of pip just flash by, but I can't seem to find them in `.github/workflows`

[2022-06-15 17:27] turbomam commented on #288
We need better overall alignment between the labels used on the Submission Portal form elements, the field names returned by the API, and the real slots names defined by the NMDC Schema.

Then, we need to determine what element in the NMDC Schema should bear the display hints annotations, and what that formally corresponds to in the Portal's DOM. (@subdavis ?)

There's no reason for a submitter to

[2022-06-15 17:33] turbomam commented on #252
I implemented with with `source: http://w3id.org/mixs/terms` in [`mixs.yaml`](https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/mixs.yaml)

When creating the Bioscales tempalte, we found that the LinkML `source` attribute conflicts with a reserved `source` annotation in DataHarmonizer, so this might not be a good long term solution.

[2022-06-15 17:37] turbomam commented on #252
[What are DataHarmonizer's reserved field names](https://github.com/cidgoh/DataHarmonizer/issues/313)

[2022-06-15 20:35] #345 closed

[2022-06-15 20:54] turbomam opened #350 "change decimal degree's base type from float to decimal"

[2022-06-15 20:54] turbomam commented on #350
discuss with @cmungall

[2022-06-15 21:59] turbomam opened #352 "enumerate institutions like EMSL and normalize existing values"
What are the permissible values?

Where are they being collected in the submission portal?

CC @SamuelPurvine @mslarae13

[2022-06-15 22:01] turbomam opened #353 "obsolescence of identifiables terms"
For example: biosamples have been added to mongodb, but we find that they're problematic in some way or may not even be used at all. In general, leave the problematic entries in mongodb and add these annotations:

- `is_obsolete`
- `replaced_by`

[2022-06-15 22:02] turbomam commented on #3
This may be irrelevant due to other changes to the README since June 2021

[2022-06-15 23:04] ssarrafan commented on #278
@sujaypatil96 Today is mid-sprint so I’m checking in to see how you’re doing with your assigned GitHub issues.  Please update this issue and let me know if you’re still actively working on it and it’s on track for finishing by the end of June. If you’re not working on it due to other priorities let me know if you plan to work on it in July or if it should be moved to the backlog for reprioritizati

[2022-06-15 23:04] ssarrafan commented on #253
@sujaypatil96 Today is mid-sprint so I’m checking in to see how you’re doing with your assigned GitHub issues.  Please update this issue and let me know if you’re still actively working on it and it’s on track for finishing by the end of June. If you’re not working on it due to other priorities let me know if you plan to work on it in July or if it should be moved to the backlog for reprioritizati

[2022-06-15 23:04] ssarrafan commented on #329
@sujaypatil96 Today is mid-sprint so I’m checking in to see how you’re doing with your assigned GitHub issues.  Please update this issue and let me know if you’re still actively working on it and it’s on track for finishing by the end of June. If you’re not working on it due to other priorities let me know if you plan to work on it in July or if it should be moved to the backlog for reprioritizati

[2022-06-16 14:17] turbomam opened #354 "Users shouldn't need to enter the NCBI BioProject Title in the submission portal"
The NCBI BioProject Title can be looked up from the NCBI BioProject Accession.

See https://github.com/microbiomedata/nmdc-schema/issues/288#issuecomment-1157704468

[2022-06-16 14:17] turbomam commented on #288
Thanks, @subdavis

I would clarify that the use case for the first bullet point is validating soemthing like an NCBI BioProject accession (like XXX). I'll think about other use cases for validation and lookup.

In-portal validation and lookup would be very valuable, but maybe we should move those two ideas to a separate issue like #354 ?

My intent for this issue was to document the fact that ther

[2022-06-17 17:14] SamuelPurvine commented on #352
So, currently, the values that should be enumerated would be
- Joint Genome Institute
- University of California, San Diego
- Environmental Molecular Sciences Laboratory

Montana and you would be the ones to know where in the submission portal it is, though your question implies we aren't collecting submitting institution as a value?

I didn't manage to capture the web link Chris put in the zoom c

[2022-06-22 20:10] turbomam opened #357 "create enums for institutions like EMSL"
will probably require a changesheet for updating in mongodb

[2022-06-22 20:12] turbomam commented on #357
Environmental Molecular Sciences Laboratory

[2022-06-22 20:13] cmungall commented on #357
enums:
  Institution:
    permissible_values:
       Environmental Molecular Sciences Laboratory:
         meaning: https://ror.org/04rc0xn13

[2022-06-24 22:13] pvangay commented on #318
+1 by Champions during beta testing of submission portal

[2022-06-28 14:12] turbomam commented on #278
Updates/status questions:
- see also
  - https://github.com/microbiomedata/mixs/issues/44
  - https://github.com/microbiomedata/mixs/issues/42
  - https://github.com/microbiomedata/mixs/issues/39
- Will we be adding mermaid diagrams?

[2022-07-01 18:44] ssarrafan commented on #253
Checked with @sujaypatil96 and this one isn't high priority for next month so I'm removing from the sprint and adding the backlog label.

[2022-07-01 18:45] ssarrafan commented on #278
Moving to July sprint per @sujaypatil96

[2022-07-01 18:46] ssarrafan commented on #329
Moving to July sprint per @sujaypatil96

[2022-07-05 21:42] ssarrafan commented on #288
I'll move to July but let me know if it's not high priority so I can move it to the backlog.

[2022-07-08 18:57] ssarrafan commented on #357
@turbomam are you working on this in July?  Can I add this to the July board?

[2022-07-08 19:50] ssarrafan commented on #28
@corilo I'm removing David and Bill from this issue.  Let me know if this is something we should put in the backlog, break down into smaller chunks, or re-assign.  I'm so glad you're still here.

[2022-07-11 16:32] SamuelPurvine commented on #59
Wow, I never saw that this was assigned to me, apologies! I'm fairly certain I do not have anything like the level of paygrade to register anything having to do with EMSL onto an external resource. Certainly I would need to work with @lamccue about this. I know when we discussed having someone at Kitware do this there was pretty strong pushback.

[2022-07-14 20:26] ssarrafan commented on #330
@mslarae13 would you like me to create 3 separate GH issues for this based on the three tasks above?  Update and improve seems to be too vague to be able to accomplish/close an issue.

[2022-07-14 20:42] ssarrafan commented on #288
@turbomam @cmungall based on the meeting today with Kitwware does it make sense to move this to August or to backlog? Or would you like me to keep it in for July?

[2022-07-15 22:58] pkalita-lbl opened #362 "Broken links to `http://microbiomedata/meta/...`"
Apologies if this is a duplicate of #230. This came up in the context of working on https://github.com/microbiomedata/NMDC_documentation/issues/9. Since that repo pulls in (manually I believe) the generated docs from this repo, many of those doc pages were flagged as having broken links to `http://microbiomedata/meta/...`. I assume the source is [this prefix](https://github.com/microbiomedata/nmdc

[2022-07-20 20:06] cmungall commented on #357
Dupe with #352

[2022-07-20 20:06] #357 closed

[2022-07-20 20:17] cmungall commented on #344
@turbomam is this still relevant?

[2022-07-20 21:02] turbomam commented on #344
Yes, the web-based documentation page for NMDC biosample has a broken image.

What are our options as me move to gen-docs and mermaid?
- Give an option for suppressing the diagram?
- Autosense when a diagram won't be useful or even feasible?
- _change the modeling_?

[2022-07-22 19:48] mslarae13 commented on #288
I think this needs to be another / separate ticket if there isn't already one.

[2022-07-22 19:50] mslarae13 commented on #330
@ssarrafan  I agree & think this would make it easier to plan

[2022-07-25 17:12] turbomam commented on #352
src/schema/nmdc.yaml in https://github.com/microbiomedata/nmdc-schema/releases/tag/v5.0.4 contains some institution enums

still need to
- [ ] set range of (omics processing).processing_institution.omics to processing_institution_enum
- [ ] re-merge and release
- [ ] do a change sheet to update MongoDB
- [ ] write some tests (step 0!)

[code]

[2022-07-25 18:03] turbomam opened #366 "prepare change sheet for omics processing processing_institutions"
using values from processing_institution_enum

[2022-07-28 17:09] #266 closed

[2022-07-28 19:17] turbomam commented on #252
@mslarae13 @ssarrafan

Yes, but I'm not convinced I did it in a sustainable way, or that I used the most appropriate LinkML slot to make the annotations. Will look into it more in the beginning of August.

[2022-07-28 23:14] ssarrafan commented on #252
I'm tempted to tag this as interim fix and close it but will move it to August for you @turbomam. FYI @mslarae13

[2022-07-29 22:43] mslarae13 commented on #252
@ssarrafan  I agree interim fix. Can we get a ticket started for the "preferred solution" per Mark's comment

[2022-07-29 23:27] ssarrafan commented on #329
@sujaypatil96 indicated this isn't a high priority anymore so removing from sprint and adding to backlog

[2022-07-29 23:28] ssarrafan commented on #278
@sujaypatil96 indicated this is in the works, almost done, and to move to August sprint

[2022-07-29 23:38] ssarrafan opened #369 "Create list of needed identifiers and definitions"

[2022-07-29 23:38] ssarrafan opened #370 "Create 'shoulder' IDs for the different NMDC minted unique IDs and when/ where to use them"

[2022-07-29 23:38] ssarrafan opened #371 "Update schema identifiers accordingly"

[2022-07-29 23:40] ssarrafan commented on #330
Ok I've created 3 separate issues related to this. I moved the first one to the August sprint and have not assigned the other two to a sprint yet. Let me know how you want to schedule them and if someone else should be assigned.  I'll move this overall issue to August so we can figure it out.

[2022-07-29 23:46] ssarrafan commented on #288
@mslarae13 @turbomam so the idea is to close this issue and open a new one for the proper fix? interim fix label?

[2022-08-01 15:45] ssarrafan commented on #288
I'll close this and tag it with interim fix.  When you're ready to work on the change we can add another ticket.  @mslarae13 @turbomam

[2022-08-01 15:45] #288 closed

[2022-08-04 00:28] pvangay opened #372 "Improve description for globally unique ID"
ESS attendees reported being confused about how to fill in the globally unique ID column. Address the following and update the description accordingly.

- It should be clear that if they have an IGSN, that this can be used directly and should be compliant
- If they generate a UUID, it is not compliant with the required format. More guidance should be provided on how to make a UUID NMDC-compliant.

[2022-08-04 00:56] pvangay opened #373 "Make formatting guidelines for all temperature metadata terms consistent"
![image](https://user-images.githubusercontent.com/7374085/182739995-ba68f092-87a6-4a3c-ab56-4a6d90cf1233.png)

Reported by ESS attendees:

All of these terms have slightly different requirements for valid values. Some require units, some do not. Please consolidate to use a single formatting guideline for all temperature terms. This is important for usability as it is confusing to sometimes provid

[2022-08-04 00:58] turbomam commented on #372
Honestly we could remove this column or just relax the requirements now that we are going to provide rigorous NMDC identifiers in the `id` slot.

In reality, there's no such thing as the "globally unique ID". It's just a re-titling of MIxS' [`source_mat_id`](https://docs.google.com/spreadsheets/d/1QDeeUcDqXes69Y2RjU2aWgOpCVWo5OVsBX9MKmMqi_o/edit#gid=178015749&range=24:24)

Before we had a policy r

[2022-08-04 01:00] turbomam commented on #373
What's the difference between the terms' formatting and the terms' validation?

[2022-08-04 01:02] turbomam commented on #371
According to what?

[2022-08-04 01:03] pvangay opened #374 ""history/extreme events" needs more context"
Currently you can enter the date on which an extreme event occurred, but there is no where to explain what the actual extreme event was. ESS attendees noted that "history/extreme events" (which expects a date) should be accompanied by another term that provides more context on the extreme event itself.

This may require submitting a ticket to the GSC? Please discuss then address. @turbomam @cmunga

[2022-08-04 01:04] turbomam commented on #372
What's more important: globally unique or resolvable?  We have talked some about adding some service-based validation to DataHarmoinzer. Nothing like that is in place yet, but this might be an interesting test case.

We could rename to column to "resolvable ID" and reject it if we can't validate against the services we trust.

[2022-08-04 01:06] turbomam commented on #374
Good one. There are a lot of MIxS terms like this that inefficiently address the need to identify noteworthy events and the dates on which they occurred. I'll dig up some more examples and make some suggestions.

[2022-08-04 01:07] turbomam commented on #370
Make it clear which classes are intended to use which shoulders. May require
- a specification within the schema
- query methods in @dwinston's API
- ongoing monitoring

[2022-08-04 01:09] #366 closed

[2022-08-04 01:11] pvangay commented on #373
when I think of formatting guidance, I think of all of the text that is in the help text that pops up (after double clicking a header).

when I think of validation, I think of the actual implementation of how the value is validated when the user hits the "validate" button.

We've seen discrepancies with some terms (e.g. https://github.com/microbiomedata/sheets_and_friends/issues/140) so I wanted t

[2022-08-04 01:18] turbomam commented on #373
Thanks. The text that appears in the column headers is the slot `title`, at least within the [submission schema](https://raw.githubusercontent.com/microbiomedata/sheets_and_friends/main/artifacts/nmdc_submission_schema.yaml).

The help screens provide
- the `title` (although DH calls it "Label")
- slot `name`
- `description`
- "Guidance"
  - `comments`
  - the regular expression `pattern` that is

[2022-08-04 01:36] #352 closed

[2022-08-04 01:38] pvangay opened #375 "Consolidate "oxygenation status of sample" and "relationship to oxygen""
from ESS attendees:

"oxygenation status of sample" and "relationship to oxygen" are very similar terms. There is currently no drop down selection enabled on "oxygenation status of sample".

@mslarae13 indicated that a decision was made during the GSC meeting this week to remove one term. This issue is for Montana to determine which one to remove then coordinate with @turbomam as needed.

[2022-08-04 01:40] turbomam commented on #375
See also https://github.com/GenomicsStandardsConsortium/mixs/issues/440

[2022-08-04 02:13] turbomam opened #376 "nitrogen flux modeling for bioscales"
[From NMDC Data Schema / Data Management Team Rolling Notes](1CDLw4zwD4Z_0dNHyT8nQGey6fDvVd0zQd4cDqG_ulqg)

How is the N flux collected? Does it match to 1:1 data point to biosample? 1:n data point:biosample

[2022-08-04 02:16] turbomam opened #377 "schema hackathon planning"
[from NMDC Data Schema / Data Management Team Rolling Notes](https://docs.google.com/document/d/1CDLw4zwD4Z_0dNHyT8nQGey6fDvVd0zQd4cDqG_ulqg/edit#)

@mslarae13  to start and will send to Mark & Emiley 08/08

[2022-08-04 02:17] turbomam opened #378 "Transform the biosample metadata about mCAFE samples into NMDC objects"
From [NMDC Data Schema / Data Management Team Rolling Notes](https://docs.google.com/document/d/1CDLw4zwD4Z_0dNHyT8nQGey6fDvVd0zQd4cDqG_ulqg/edit#)

SQLite database of NCBI biosample metadata (aka NCBI relational biosample database) has everything but the GOLD paths, which Mark will add a look up

[2022-08-04 02:19] turbomam opened #379 "Use changsesheet to get GOLD env paths for the 60 mCAFE biosamples into MongoDB"
From  [NMDC Data Schema / Data Management Team Rolling Notes](https://docs.google.com/document/d/1CDLw4zwD4Z_0dNHyT8nQGey6fDvVd0zQd4cDqG_ulqg/edit#)

see also #378

[2022-08-04 02:21] turbomam opened #380 "whiteboard modeling project/study relationships"
from [NMDC Data Schema / Data Management Team Rolling Notes](https://docs.google.com/document/d/1CDLw4zwD4Z_0dNHyT8nQGey6fDvVd0zQd4cDqG_ulqg/edit#)

[2022-08-04 02:26] turbomam opened #381 "Update use of biosample identifier columns in MongoDB"
from [NMDC Data Schema / Data Management Team Rolling Note](https://docs.google.com/document/d/1CDLw4zwD4Z_0dNHyT8nQGey6fDvVd0zQd4cDqG_ulqg/edit#)s

- current `id` -> `source_mat_id`
- inject minted identifiers into `id`
- current `identifier` -> `samp_name`
- remove `identifier` from schema and MongoDB records

[2022-08-04 02:31] pvangay opened #382 "Add guidance and/or example text to soil template terms"
Some terms were reported by ESS attendees. This is an exhaustive list of terms in the Soil-EMSL template on the submission portal that either are missing guidance text and/or example text.

**Missing guidance text _and_ example text:**
- [x] sample shipped amount
- [x] number technical replicate
- [x] history/extreme events
- [x] history/fire
- [x] history/flooding
- [x] filter method
- [x] experi

[2022-08-04 02:48] pvangay commented on #373
OH this is really helpful. Thanks @turbomam! I guess one question I have for the metadata team is whether we want to impose any internal requirements to always have content under at least one of the bullets listed under "Guidance". I flagged a bunch of terms that either had nothing under "Guidance" and/or nothing under "Example" here: https://github.com/microbiomedata/nmdc-schema/issues/382. But i

[2022-08-04 13:00] turbomam commented on #382
Wow! That's a lot!  Adding annotations to those slots will make the schema much better!

Many of those slots come from MIxS. Ideally any annotations that are prepared for them would go straight to the GSC. If there's a concern that the turn around time would be too slow, I recommend that @mslarae13 or any other contributors make a copy of the [MIxS 6 term updates](https://docs.google.com/spreadshe

[2022-08-04 13:23] turbomam opened #383 "use sample_link (or a subproperty of that?) to relate samples to sudies"
I.e. stop saying that a sample is part of a study.

From [src/schema/portal/sample_id.yaml](https://github.com/microbiomedata/nmdc-schema/blob/9a994b8fee5c4464ec1897ea3b8fe4d753a2c841/src/schema/portal/sample_id.yaml#L48-L65):

[code]

[2022-08-04 13:25] turbomam commented on #380
see also #383

[2022-08-04 16:05] turbomam opened #384 "revisit storage and validation of temporal data"
## Background

nmdc-schema has a [TimestampValue class](https://microbiomedata.github.io/nmdc-schema/TimestampValue/#class-timestamp-value), based on the [AttributeValue class](https://microbiomedata.github.io/nmdc-schema/AttributeValue/).

In fact the only real data slot for TimestampValue is the very generic, inherited [has_raw_value](https://microbiomedata.github.io/nmdc-schema/has_raw_value/),

[2022-08-04 16:05] turbomam opened #385 "We should be using regular expressions when having discussions about validation patterns"
For example: https://regexr.com/6r84t from issue https://github.com/microbiomedata/nmdc-schema/issues/384

Subject-matter contributors to the schema wouldn't be expected to create patterns. Rather, they should know where to find them and think up several data values that should be allowed in a slot, along with several values that shouldn't be allowed.

There should be a lot of overlap between the

[2022-08-04 22:25] ssarrafan commented on #372
Based on discussion at Infrastructure sync meeting, adding to the August sprint

[2022-08-04 22:27] ssarrafan commented on #373
Based on discussion at Infrastructure sync meeting, adding to the August sprint

[2022-08-05 15:49] turbomam opened #386 "add sample_link to Biosample modeling"
may be related to or duplicate of some other issues?

Biosample 1..* ? Named Thing?

We're intending to use this with Study ranges

remove requirement for `part of`

[2022-08-08 16:56] turbomam opened #389 "part_of is declared required false in Biosample, but biosamples without won't instantiate"

[2022-08-12 18:54] mslarae13 opened #401 "slot 'GOLD sample identifiers' is unclear"
The slot 'GOLD sample identifiers' is identified as used in the class 'study'

The definition of 'GOLD sample identifiers' has value as 'Provide the GOLD study IDs associated with samples for this study.'

Few things

1. That's not a value, isn't that a description?
2. The description fits for study class. BUT, the term says SAMPLE identifiers, which are different from the GOLD study ID.

Which is

[2022-08-12 18:59] mslarae13 opened #402 "nesting or relating slots in schema"
we have unique slots to capture things like 'GOLD sample identifiers' & ' INSDC bioproject identifiers'.

These need to be 'is_a' or linked / displayed and captured as an 'alternative identifier'

@turbomam

[2022-08-12 19:05] emileyfadrosh commented on #401
@mslarae13 I think I need some help finding where this is to provide a reasonable response. I don't believe GOLD has a "sample identifier" term, instead there is: GOLD Biosample ID; Biosample name; identifer (see https://gold.jgi.doe.gov/biosample?id=Gb0144001 for example). If 'GOLD sample identifiers' relates to one of the above, we should take the definition directly from GOLD and make sure we a

[2022-08-12 19:30] mslarae13 opened #403 "GOLD 'ecosystem' slots at study level"
Why are the 5 GOLD ecosystem terms captured under study class? https://microbiomedata.github.io/nmdc-schema/Study/
Biosample makes sense.  https://microbiomedata.github.io/nmdc-schema/Biosample/
But with study is confusing to me.

Should these be deprecated?

* this might be a quick to close issue if I'm just misunderstanding something

@turbomam
@emileyfadrosh
@cmungall

[2022-08-13 00:09] mslarae13 opened #407 "'title' description is GOLD centered"
Current description of slot 'title' is "A name given to the entity that differs from the name/label programmatically assigned to it. For example, when extracting study information for GOLD, the GOLD system has assigned a name/label. However, for display purposes, we may also wish the capture the title of the proposal that was used to fund the study."

This is GOLD centered. I think we should gener

[2022-08-16 23:16] mslarae13 commented on #384
@turbomam what is the to do on this?

[2022-08-16 23:19] mslarae13 commented on #369
Working doc for sorting our unique NMDC id shoulders : https://docs.google.com/spreadsheets/d/1HdY4PZSKJzmWsUIzgmsX6FxaS9k1Jxt-IppRkoyhtBA/edit?usp=sharing

Working doc for types of identifiers needed: https://docs.google.com/spreadsheets/d/1e7hA0H4lkkHCNjYxMSkTR3BrYI3Jp-lJsnfOGyK28L8/edit?usp=sharing

[2022-08-16 23:26] mslarae13 commented on #372
source_mat_id was titled globally unique ID for clarification on what is meant to go in this column. The value will match MIxS and JGI's source_mat_id values.

I think, for this variable (source_mat_id), globally unique is more important. Where as resolvable will be accomplished with 'id' which is the NMDC minted id.

Discuss schema updates at Wednesday's (08-17) meeting.

[2022-08-16 23:27] mslarae13 commented on #373
To discuss 08/17 @ metadata meeting

[2022-08-16 23:28] mslarae13 commented on #330
Related to https://github.com/microbiomedata/nmdc-schema/issues/369

[2022-08-16 23:45] mslarae13 commented on #371
@turbomam
According to our decision on how to handle identifiers : https://github.com/microbiomedata/nmdc-schema/issues/330

[2022-08-17 20:39] turbomam opened #409 "create more subslots of alternative_identifiers"
eg for IMG_taxon_identifier

also make sure there are validation patterns for all of these because the id prefixes attribute is currently "suggestion only"

[2022-08-17 20:42] turbomam opened #410 "add referential integrity checks on external id used by nmdc-schema instances"
in addition to format checking

best to use a cache

[2022-08-17 20:45] turbomam opened #411 "document the fact that schema editors should NOT edit generated yaml files outside of src/schema"

[2022-08-17 21:33] sujaypatil96 opened #412 "Associate `GOLD_analysis_project_identifiers` with the right class"
Looking through the [NMDC Schema](https://microbiomedata.github.io/nmdc-schema/) we can see that the slot `GOLD_analysis_project_identifiers`: https://microbiomedata.github.io/nmdc-schema/GOLD_analysis_project_identifiers/ is not used on any of the schema classes yet?

Per @cmungall's suggestion, it should be a slot on either [MetagenomeAnnotationActivity](https://microbiomedata.github.io/nmdc-sch

[2022-08-17 23:00] #377 closed

[2022-08-18 19:13] ssarrafan commented on #379
@sujaypatil96 and @turbomam would you consider this done? Can we close this one?

[2022-08-18 21:19] turbomam commented on #379
The GOLD paths are in there, but it didn't require a change sheet or a lookup table. Just the new biosample instantiator in hybrid mode.

[2022-08-18 21:19] #379 closed

[2022-08-22 17:38] #10 closed

[2022-08-22 17:40] turbomam commented on #10
@dwinston I share your concern about unconstrained relationships between the biosample and study GOLD path elements, but will defer to the guidance from @TBKReddy and @cmungall

[2022-08-22 17:41] #11 closed

[2022-08-22 18:00] #3 closed

[2022-08-22 18:00] turbomam commented on #7
We are entrusting the GH change log that is generated as part of the release process

[2022-08-22 18:00] #7 closed

[2022-08-22 18:03] #412 closed

[2022-08-22 21:48] turbomam commented on #29
I think this is present in the main branch now. See the `test-jsonschema` and `test-jsonschema_invalid` rules in the Makefile

[2022-08-22 21:48] #29 closed

[2022-08-22 21:49] turbomam commented on #35
Good question! Do we need others? Otherwise we should close this issue as completed.

[2022-08-22 21:51] turbomam commented on #73
Images and 'NMDC Schema' slides from Chris Mungall, dated 2020-05-13, are present in the READEM.md now.

[2022-08-22 21:51] #73 closed

[2022-08-22 21:52] turbomam commented on #102
Could not recreate in current poetry-based repo

[2022-08-22 21:52] #102 closed

[2022-08-22 21:58] turbomam commented on #232
I think I have eliminated these warnings by adding placeholder expansions for those prefixes.

There are no warnings or errors from this now:

[code]

---

`poetry run gen-yaml src/schema/nmdc.yaml > /dev/null` actually errors out now

INFO:root:class "database" slot "nmdc schema version" does not reference an existing slot.  New slot was created.
INFO:root:class "database" slot "date created" doe

[2022-08-22 21:58] #232 closed

[2022-08-22 21:59] turbomam opened #419 "replace temporary http://example.com/ prefix expansions"

[2022-08-22 22:02] turbomam commented on #312
They go immediately into the submission_metadata table in "Kitware's" Postgres table, and yes, the API access seems to meet all of my needs.

[2022-08-22 22:02] #312 closed

[2022-08-22 22:03] turbomam commented on #317
These are all in `src/schema/portal` now

[2022-08-22 22:03] #317 closed

[2022-08-22 22:03] turbomam commented on #378
done

[2022-08-22 22:03] #378 closed

[2022-08-22 22:18] turbomam commented on #336
I don't see any `Bioscales` class anymore. The bioscales terms are imported from `src/schema/bioscales.yaml`

That does address the issue of the potential growth of nmdc-schema.yaml when all of the submission schema stuff in merged in.

@cmungall has a schema fixer that might remove slot_usage statements that re-assert attributes that are already asserted at the schema level.

see https://github.c

[2022-08-23 14:04] turbomam opened #420 "mermaid diagram in README.md doesn't render in PyPI etc."
Maybe we should put it in a different file?

[2022-08-23 14:05] turbomam opened #421 "audit enumerate permissible values"
Could we add some more informative metadata? links to definitions of file formats for example?

What PV slots should we be using? I mainly see name/text and description.

[2022-08-23 14:08] turbomam opened #422 "how to determine whether a class or slot appears in MongoDB?"
If we change attributes of a schema element, we need to anticipate how that might effect validation of the data currently in MongoDB.

@dwinston, do you have any advice for checking schema changes against the existing MongoDB documents?

[2022-08-23 14:10] turbomam opened #423 "add submitter to the credit role permissible values"
https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0001741

to document the person who entered study and biosample metadata into the NMDC submission portal. I'm currernly using 'project administration'. That should be fixed.

[2022-08-23 14:48] turbomam commented on #403
Hi, @mslarae13

Yes, it could be confusing. Even worse, nothing's in place to make sure that the biosample GOLD ecosystem paths are compatible with the study GOLD ecosystem paths

There's some good discussion of this in https://github.com/microbiomedata/nmdc-schema/issues/10

[2022-08-23 14:51] turbomam commented on #57
On it. Should be good for visualizing issues about slot inheritance, like #402 and #410

@sujaypatil96 I'm going to put a free-standing OWL generation step in the Makefile. We should integrate that into the existing generation patterns in the Makefile, or maybe switching to gen-project could be part of an overall repo refactor like we were discussing yesterday.

[2022-08-23 19:30] turbomam opened #426 "diff some v3.0.0 and v4.0.0 (or v6.0.3) JSON artifacts for Monet"
For @corilo and Natasha

[2022-08-23 19:34] turbomam commented on #426
https://github.com/microbiomedata/nmdc-schema/releases/tag/v4.0.0

vs

[2022-08-23 19:56] #426 closed

[2022-08-23 20:09] turbomam commented on #419
see https://github.com/microbiomedata/nmdc-schema/issues/347

[2022-08-23 20:10] turbomam opened #428 "lingering build/load error messages"
closes #347

[2022-08-23 20:10] #103 closed

[2022-08-23 20:11] #347 closed

[2022-08-23 20:11] turbomam commented on #428
[code]

[2022-08-23 20:15] turbomam opened #429 "error during github-pages GH action"
Sorry, I probably added or removed something from `main`

The `gh-deploy` Makefile rule still seems to work

To https://github.com/microbiomedata/nmdc-schema
 ! [rejected]        gh-pages -> gh-pages (fetch first)
error: failed to push some refs to 'https://github.com/microbiomedata/nmdc-schema'
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This i

[2022-08-23 20:28] turbomam opened #431 "credit enum docs page broken"
https://microbiomedata.github.io/nmdc-schema/credit%20enum.md

see also #429 ?

[2022-08-24 02:28] #431 closed

[2022-08-24 02:32] turbomam commented on #429
when desperate, try
- deleting the gh-pages branch
- running the "pages-build-deployment" action
- ensuring that the gh-pages branch is still set as the source for GH pages https://github.com/microbiomedata/nmdc-schema/settings/pages

[2022-08-24 02:32] #429 closed

[2022-08-24 02:32] #423 closed

[2022-08-25 23:42] sujaypatil96 opened #438 "proposal to make metaG and metaT slots recommended"
Can we make the following terms `recommended: true` instead of `required: true`?

* execution_resource: https://microbiomedata.github.io/nmdc-schema/execution_resource/
* git_url: https://microbiomedata.github.io/nmdc-schema/git_url/
* has_input: https://microbiomedata.github.io/nmdc-schema/has_input/
* has_output: https://microbiomedata.github.io/nmdc-schema/has_output/
* started_at_time: https:/

[2022-08-29 17:07] turbomam commented on #438
classes:
- metagenome annotation activity
-
and?

[2022-08-29 21:55] cmungall commented on #438
until we bring in processed workflow data from JGI rather than from NMDC native workflows there is no need to relax the schema

[2022-08-30 17:20] turbomam opened #439 "Concrete identifiers action: intrinsic or linking externally"
We have lots of good issues and documents about identifiers.

I will try to help by making a diagram of their hierarchy.

Along with reviewing the existing hierarchy, I am requesting that we designate identifiers as
- primary/required or secondary
- intrinsic (like my social security number refers to me) vs linking to something externally
  - you could say that my `employer_id` is ROR:02jbv0t02, w

[2022-08-31 15:59] turbomam opened #440 "remove mermaid diagrams until they are more useful"
more useful =
- showing class to class relationships
- not showing a multi-page box of slots for huge classes like Biosample

[2022-09-01 18:19] ssarrafan commented on #330
@mslarae13 moving to Sept sprint but if you plan to not work on it in the next 2 weeks let me know so I can remove and add the backlog label

[2022-09-01 18:20] ssarrafan commented on #373
@mslarae13 moving to Sept sprint but if you plan to not work on it in the next 2 weeks let me know so I can remove and add the backlog label

[2022-09-01 18:20] ssarrafan commented on #372
@mslarae13 moving to Sept sprint but if you plan to not work on it in the next 2 weeks let me know so I can remove and add the backlog label

[2022-09-01 18:21] ssarrafan commented on #369
@mslarae13 moving to Sept sprint but if you plan to not work on it in the next 2 weeks let me know so I can remove and add the backlog label

[2022-09-01 18:22] ssarrafan commented on #278
@sujaypatil96 is this done?
I'm moving to Sept sprint but if you plan to not work on it in the next 2 weeks let me know so I can remove and add the backlog label

[2022-09-01 18:23] ssarrafan commented on #252
@sujaypatil96 @turbomam can this interim fix issue be closed?

I'm moving to Sept sprint but if you plan to not work on it in the next 2 weeks let me know so I can remove and add the backlog label

[2022-09-01 18:30] ssarrafan commented on #370
@mslarae13 moving to Sept but let me know if you're not working on this for the next 2 weeks

[2022-09-01 18:34] ssarrafan commented on #401
Not assigned to anyone so I'm removing from the Aug sprint. FYI @mslarae13 @emileyfadrosh

[2022-09-01 18:39] ssarrafan commented on #376
@turbomam moving this to Sept but please let me know if you're not actively working on it for the next 2 weeks

[2022-09-01 18:39] ssarrafan commented on #380
@turbomam moving this to Sept but please let me know if you're not actively working on it for the next 2 weeks

[2022-09-01 18:39] ssarrafan commented on #381
@turbomam moving this to Sept but please let me know if you're not actively working on it for the next 2 weeks

[2022-09-01 18:40] ssarrafan commented on #384
@turbomam moving this to Sept but please let me know if you're not actively working on it for the next 2 weeks

[2022-09-02 18:49] mslarae13 commented on #373
Mark updated the validation & that works. But we should still improve the guidelines
@ssarrafan  can you make 1 ticket 'update guidelines & add examples for all submission portal slots'
And tagg this one under it?

[2022-09-02 18:50] mslarae13 commented on #330
See also
https://github.com/microbiomedata/nmdc-schema/issues/401#issuecomment-1234641862
&
https://github.com/microbiomedata/nmdc-schema/issues/369#issuecomment-1234630202

[2022-09-02 18:53] ssarrafan commented on #373
What about this issue:  https://github.com/microbiomedata/nmdc-schema/issues/382

[2022-09-02 18:55] turbomam commented on #369
It's not enough to list something because it is needed.

Proposals for any new identifiers in the schema should include:
- to what class will the identifier apply?
- is the identifier required for any instance of the class above? or recommended, or optional?
- should the slot allow multiple identifier values, or just one?
- does it link to something else modeled by the schema, or does it link to s

[2022-09-02 18:56] mslarae13 commented on #373
Exactly what I wanted! Thanks! Didn't know it existed. This should be able to be October sprint.

[2022-09-02 19:03] mslarae13 commented on #382
See also
https://github.com/microbiomedata/nmdc-schema/issues/374

[2022-09-02 20:09] ssarrafan commented on #373
ok great so we can close this issue and I can adde #382 to October.

[2022-09-02 20:09] #373 closed

[2022-09-02 20:10] ssarrafan commented on #382
Related to #https://github.com/microbiomedata/nmdc-schema/issues/373

[2022-09-02 20:12] ssarrafan commented on #369
Can this criteria be a template for these types of identifier requests?

[2022-09-07 15:44] turbomam opened #442 "improve docs pages so that team members can get oriented"

[2022-09-07 18:25] turbomam commented on #442
see also https://github.com/linkml/linkml/issues/938

[2022-09-08 14:02] turbomam opened #443 "add sample preparation module"
based on (limited access)
- https://gitlab.pnnl.gov/MoNET/analytical-processes/-/blob/main/organicmatterextraction.toml
- https://gitlab.pnnl.gov/MoNET/analytical-processes/-/blob/main/derivatization.toml

Via the monet* tabs in [schema_hackathon schemasheets](https://docs.google.com/spreadsheets/d/1sYpMyhCMzL6-JyvA6qlczf_vtNWybmuPvwoeqMUUiNo/edit#gid=1398141971)

[2022-09-08 14:40] turbomam opened #446 "Integrate sample preparation tests"
Base it on https://github.com/microbiomedata/schema_hackathon/blob/main/src/data/examples/multi_class_database.json

[2022-09-08 14:40] turbomam commented on #446
see also #443

[2022-09-09 16:26] mslarae13 commented on #328
I thought we decided we were removing the 'identifiers' slot?
id vs identifier is too confusing.

[2022-09-09 16:27] mslarae13 commented on #381
Same comment as on ticket #328. We decided in a metadata meeting the identifier slot should be deprecated.

[2022-09-09 16:34] mslarae13 commented on #409
Relates to #369 . 369 will inform what additional slots are needed.
Success for this ticket looks like
- slots to capture common alternate identifiers are created and added to the schema.
- all slots have clear descriptions, examples, and validation / syntax requirements
- Slots are clearly connected / the identifiers hierarchy is well laid out (example, a GOLD biosample identifier IS an alternate

[2022-09-09 16:36] mslarae13 commented on #401
Success here looks like
GOLD sample identifiers slot is "cleaned up"
- The description is made more clear for what it's ACTUALLY identifying.
- If it is meant to be under class study, the slot is re-named to say study, not sample
- If it is meant to capture samples, it is removed from study class & put in biosample class.

[2022-09-09 16:39] mslarae13 commented on #439
@turbomam feel free to use the mural board for this diagram. (see slack)

When you say intrinsic or linking externally, do you mean generating a good description and use cases for each?

[2022-09-09 18:10] mslarae13 commented on #383
Can you add more clarification here on what you want? I'm confused

[2022-09-09 21:09] sujaypatil96 opened #450 "Fix nmdc_schema PyPI packaging"
* also fix associated GitHub Actions workflows and Makefile targets

[2022-09-09 21:58] mslarae13 commented on #370
Relates to https://github.com/orgs/microbiomedata/projects/34

[2022-09-12 16:47] turbomam opened #451 "prefix issues not resolved in https://github.com/microbiomedata/nmdc-schema/pull/447 yet"
see #447

[2022-09-12 17:14] turbomam commented on #451
Why does prefix linter recommend KEGG_* in some cases and KEGG.* in others

[2022-09-12 17:52] turbomam opened #453 "Totally omit a class' mermaid diagram if there are more than n slots"
Possible N = 60 (or whatever fits vertically on one average screen)

In the future, we might think about ways to show the structural part of the mermaid diagram without the slots, but just omitting diagrams with excessive slots is a good start.

[2022-09-12 17:57] turbomam opened #454 "Show interclass relationships in mermaid diagrams in addition to improved heirarchy"
The class mermaid diagrams have improved by showing both parent and child hierarchy. Thanks!

Let's show all inter-class relationships in the Mermaid diagrams, so we would also see the relationship between Biosample and Study.

This may be a dupe. Feel free to move or close.

[2022-09-12 17:58] turbomam commented on #454
see also https://github.com/microbiomedata/nmdc-schema/pull/441

[2022-09-12 17:59] turbomam commented on #453
see also https://github.com/microbiomedata/nmdc-schema/pull/441

[2022-09-12 18:23] turbomam opened #455 "continue developing sample preparation modeling and sample files"

[2022-09-12 18:24] turbomam commented on #443
continued in #455

[2022-09-12 18:24] #443 closed

[2022-09-12 18:24] turbomam commented on #446
continued in #455

[2022-09-12 18:24] #446 closed

[2022-09-12 18:25] turbomam commented on #428
resolved, with the exception of #451

[2022-09-12 18:26] #428 closed

[2022-09-12 18:27] turbomam commented on #419
see #451

[2022-09-12 18:27] #419 closed

[2022-09-12 18:52] turbomam commented on #401
This is a good issue, but I don't think much or any action is required. I disagree that slot `GOLD sample identifiers` is used by class `Study`. @mslarae13 , if you have a document that says otherwise, please point me towards it. I hope I didn't do something to confuse you!

First, I searched for all mentions or definitions of `GOLD sample identifiers` in the src/schema directory:

[code]

nmdc.ya

[2022-09-12 20:33] turbomam opened #456 "use linter to standardize element names"

[2022-09-12 20:37] turbomam commented on #456
For example

[code]

[2022-09-12 23:30] mslarae13 commented on #401
@turbomam

https://docs.google.com/spreadsheets/d/1A8FN8rymVI9N1Yv0dMlV2RCbrVKWUvYyDOZssmy8LEc/edit?usp=sharing

That is the file I was referring to. I think the update has been made and this ticket can be closed. The read the docs looks right (https://microbiomedata.github.io/nmdc-schema/GOLD_sample_identifiers/).

[2022-09-13 12:43] turbomam opened #458 "dissolve principal investigator role?"
Around September 9th, @elishawc, I and others met to discuss dataset attribution in NMDC, KBase, ESS-Dive, etc.

There was some discussion about removing "principal investigator" as a credit role. The sentiment was that it could be used as an honorific rather than saying what the person did.

In many cases, the following two roles might be appropriate:

- Conceptualization
- Funding acquisition

[2022-09-13 21:43] turbomam opened #459 "updates to sample processing"
- all activity classes should have `Activity` in the name, not  `Process`
- add chloroform and methanol as enumerated solvents
- make a simpler testing rule in the makefile
- merge PR with new element names and make PyPI release at end of NMDC Metadata Related meeting 2022-09-14
- provide Python file that shows programmatic instantiation of some sample processing classes

cc @mslarae13 @corilo @cm

[2022-09-13 22:08] pkalita-lbl commented on #370
I'm going to close this issue as a duplicate of https://github.com/microbiomedata/issues/issues/4. This issue may be older, but the other one has more information and is part of the new identifiers squad's project.

[2022-09-13 22:08] #370 closed

[2022-09-14 11:33] turbomam opened #460 "Consequences of deleting docs/images/* ?"

[2022-09-14 11:36] turbomam opened #461 "Need methods for making visualizations of NMDC data"
In the Deinococcus squad meetings, several questions about they interplay of instances from different classes have arisen.

We need some way to visualize instance data, preferably with as little manipulation as possible after retrieving  from MongoDB.

[2022-09-14 11:52] turbomam opened #462 "lots of circular imports in multiple nmdc-schema YAML files"

[2022-09-14 17:16] turbomam commented on #442
Sorry, @sujaypatil96 I have sent you details about this task but not in an organized way. Can you plese take responsibility for gathering whatever note you can find to make the issue more concrete?

[2022-09-14 18:16] #401 closed

[2022-09-14 18:26] turbomam commented on #372
shouldn't **remove**: required by EMSL and people will have values

wait until nmdc minted identifiers are auto-inserted

@turbomam remember we should add secondary keys to DH = LinkML unique key

[2022-09-14 18:28] dwinston commented on #372
related resources:
- `ids` umbrella pattern for registered prefixes: https://api.openalex.org/works/W2098772291
- doi states of {draft,registered,findable}: https://support.datacite.org/docs/doi-states

[2022-09-14 18:28] turbomam commented on #372
see also #328

[2022-09-15 00:43] sujaypatil96 opened #464 "update pypi packaging process"
Update PyPI packaging mechanisms in Makefile and Github Actions so that there is no requirement for a nmdc_schema folder within this repo. The package should be built and deployed on the fly.

[2022-09-15 23:42] sujaypatil96 commented on #438
I think a decision was reached that we would avoid pulling in AP information from GOLD.

[2022-09-15 23:42] sujaypatil96 commented on #278
@ssarrafan: could you please close this issue? It's done.

[2022-09-15 23:44] ssarrafan commented on #278
Yay!

[2022-09-15 23:45] sujaypatil96 commented on #348
Hm, none of our Actions use pip as far as I know. I checked the workflows and nothing there too, so I think this issue can be closed.

CC: @ssarrafan

[2022-09-15 23:45] ssarrafan commented on #278
Done!

[2022-09-15 23:45] #278 closed

[2022-09-15 23:46] ssarrafan commented on #348
Closing!

[2022-09-15 23:46] #348 closed

[2022-09-16 15:27] turbomam commented on #464
see also #450

[2022-09-16 15:33] turbomam opened #465 "categorical tags for biosamples"
@emileyfadrosh has requested tags that would make it easier to find biosamples with shared methods, funding, etc. in the Data Portal. Other NMDC team members have been supportive.

I will implement this as a new slot on the Biosmaple class, whose range will be an enumeration

@emileyfadrosh and others will be responsible for
1. adding descriptions, meanings and see_also links for the permissible v